@model Article
<div class="row mt-3 mx-1 bg-white">
    <div class="col-5 g-0">
        <img src="~/user/images/article1.png" alt="" class="sideArticlesImages" />
    </div>
    <div class="col">
        <div class="pt-2">
            <p class="fw-bold">فبراير 18 2023</p>
            <p class="text-black-50">رشاقة وتغذية</p>
            <p style="font-weight: bold">كيف أستعمل الشوفان لانقاص الوزن؟.. طبيبة تغذية تجيب</p>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <p>وقت القراءة 10 دقائق</p>
            </div>
            <div class="my-1">
                <img width="20" alt="" src="~/user/images/share-button-svgrepo-com.png" />
                <img alt="" width="20" src="~/user/images/heart-svgrepo-com (1).png" />
            </div>
        </div>
    </div>
</div>