<div class="card w-100  rounded-4">
    <div class="card-body p-4">
        <div class="row  d-flex align-items-stretch text-black">
            <div class="col-5 px-2 ">
                <div class=" h-100 rounded-3 overflow-hidden " style="background-size: cover;  background-image: url(https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp);">
                </div>
            </div>
            <div class="col-7 px-2">
                <div class="">
                    <h5 class="mb-1">محمد جمال</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">خبير لياقة بدنية</p>
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                        <div class="">
                            <p class="small text-muted mb-1">أنظمتي</p>
                            <p class="mb-0">976</p>
                        </div>
                        <div class="px-3">
                            <p class="small text-muted mb-1">مقالاتي</p>
                            <p class="mb-0">41</p>
                        </div>

                        <div class="">
                            <p class="small text-muted mb-1">تقييمي</p>
                            <p class="mb-0">8.5</p>
                        </div>
                    </div>
                    <div class="d-flex pt-1">
                        <button type="button" class="btn btn-main me-1 flex-grow-1">Chat</button>
                        <button type="button" class="btn btn-main flex-grow-1">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>