
<div class="coach-box pb-1 w-100 shadow">
    <div class="img-box2">
        <img src="assets/images/download.jpg" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="">
    </div>
    <p class="text-center m-0">محمد جمال</p>
    <p class="text-center text-success">مدرب لياقة</p>
</div>