<div class="container-xxl my-1">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex justify-content-between my-5 mx-auto">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="mx-auto rounded-circle m-3 p-4 p-md-4 dcolor">
                    <img height="80" src="~/images/fast-delivery.png" alt="fast-delivery" />
                </div>
                <p class="colorP">شحن سريع</p>
                <p class="m-0">يتم التسليم في غضون 3-2 ايام عمل</p>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="mx-auto rounded-circle m-3 p-4 p-md-4 dcolor">
                    <img height="80" src="~/images/exchange.png" alt="fast-delivery" />
                </div>
                <p class="colorP">امكانية الترجيع</p>
                <p class="m-0">
                    اذا لم تكن راضيا يمكنك ارجاع المنتج خلال 30 يوما
                </p>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="mx-auto rounded-circle m-3 p-4 p-md-4 dcolor">
                    <img height="80" src="~/images/interrogation.png" alt="fast-delivery" />
                </div>
                <p class="colorP">استفسار</p>
                <p class="m-0">راسلنا وسنسعد بمساعدتك</p>
            </div>
        </div>
    </div>
</div>
