@model Exercise
<div class="col-12 col-md-6 col-lg-3 p-4">
    <div class="card border-0">
        <div class="position-relative">
            <img src="@Model.Image" class="card-img-top" alt="..." />
            <img width="40" class="position-absolute" style="top: 20px; right: 20px" src="assets/Images/heart-svgrepo-com (1).png" alt="" srcset="" />
            <img width="80" class="position-absolute" style="bottom: 20px; right: 20px" src="assets/Images/ic_play_circle_outline_24px.png" alt="" srcset="" />
        </div>

        <div class="card-body">
            <p class="card-text text-center Exercises_duration_Color fw-bold">
                دقيقة اليوم @Model.Duration
            </p>
            <h5 class="card-title mb-3">@Model.Title</h5>
            <div class="d-flex justify-content-between">
                <div>
                    <img width="20" src="~/User/images/star-svgrepo-com.png" alt="" srcset="" />
                    <img width="20" src="~/User/images/star-svgrepo-com.png" alt="" srcset="" />
                    <img width="20" src="~/User/images/star-svgrepo-com.png" alt="" srcset="" />
                    <img width="20" src="~/User/images/star-svgrepo-com.png" alt="" srcset="" />
                    <img width="20" src="~/User/images/star-svgrepo-com.png" alt="" srcset="" />
                </div>
                <div>
                    <h4 class="d-inline-block text-danger align-middle ms-1">
                        @(Model.Price == 0 ? "مجانا" : Model.Price)
                    </h4>
                    <img width="30" src="~/User/Images/cart-3-svgrepo-com.png" alt="" srcset="" />
                </div>
            </div>
        </div>
    </div>
</div>
