<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - liaqati_master</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/User/css/bootstrap.rtl.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/User/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/User/css/nice-select2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/User/css/styleIndex.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/User/css/Proccess.css" asp-append-version="true" />
    <script src="~/User/js/scriptIndex.js"></script>
    <link rel="stylesheet" href="~/node_modules/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <style>
        .subs-menu {
            display: none !important;
            width: 100vw;
            height: 150px;
            bottom: -150px;
            border-top: 0.5px solid rgba(136, 133, 133, 0.427) !important;
            border-bottom: 0.5px solid rgba(136, 133, 133, 0.427) !important;
        }

            .subs-menu li {
                list-style: none;
                width: 200px;
            }

                .subs-menu li a:hover {
                    background-color: #9e92e2b0;
                }

        .hoverabllink:hover .subs-menu {
            display: flex !important;
        }

        .nav-item {
            padding: 0 10px;
        }

            .nav-item.active,
            .nav-item:hover {
                border-top: 3px solid #8a78ee;
                border-bottom: 3px solid #8a78ee;
            }

        .bg-white-with-blur {
            background-color: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
        }
    </style>
</head>
<body>
    <nav class="navbar-container shadow bg-white-with-blur p-0 px-2 position-relative d-none d-lg-flex position-fixed w-100">
        <div class="container-xl p-0">
            <div class="d-flex">
                <div class="d-flex justify-content-between align-items-center navbar-brand-container">
                    <a title="Home"
                       class="d-flex justify-content-center align-items-center"
                       href="#">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             height="80"
                             viewBox="0 0 138 121">
                            <defs>
                                <clipPath id="a1">
                                    <rect width="138"
                                          height="121"
                                          fill="#fff"
                                          stroke="#707070"
                                          stroke-width="1" />
                                </clipPath>
                                <linearGradient id="b"
                                                y1="0.5"
                                                x2="1"
                                                y2="0.5"
                                                gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#fff" />
                                    <stop offset="1" stop-color="#fff" />
                                </linearGradient>
                                <linearGradient id="c"
                                                x1="0"
                                                y1="0.5"
                                                x2="1"
                                                y2="0.5"
                                                xlink:href="#b" />
                            </defs>
                            <g clip-path="url(#a1)">
                                <g transform="translate(17.75 19.438)">
                                    <path d="M795.259,582.63c37.967.486,41.705,48.247-9,35.71a.123.123,0,0,1-.091-.129.134.134,0,0,1,.122-.108c29.1-.517,31.48-25.144,8.918-35.241a.118.118,0,0,1-.079-.135.137.137,0,0,1,.134-.1Z"
                                          transform="translate(-777.109 -530.85)"
                                          fill="url(#b)" />
                                    <g transform="translate(13.387)">
                                        <ellipse cx="13.26"
                                                 cy="14.011"
                                                 rx="13.26"
                                                 ry="14.011"
                                                 transform="translate(0)"
                                                 fill="#fff" />
                                        <path d="M1024.286,424.67a1.23,1.23,0,0,0-.872-.137,1.074,1.074,0,0,0-.7.47l-.675,1.009a1.041,1.041,0,0,0,.348,1.487l4.9,2.946,1.589-3.013Z"
                                              transform="translate(-974.24 -402.762)"
                                              fill="#fff" />
                                        <path d="M1082.175,462.171l-12.213-7.351-1.592,3.013,11.9,7.167a1.225,1.225,0,0,0,.872.138,1.07,1.07,0,0,0,.7-.47l.677-1.007A1.041,1.041,0,0,0,1082.175,462.171Z"
                                              transform="translate(-1010.499 -427.317)"
                                              fill="#fff" />
                                        <path d="M1143.968,472.962c-2.2-1.09-6.5,2.578-9.6,8.191s-3.831,11.051-1.631,12.142,6.5-2.576,9.6-8.191S1146.168,474.052,1143.968,472.962Zm-3.776,11.19c-.714,1.294-1.763,2.112-2.332,1.829s-.458-1.565.256-2.859,1.763-2.114,2.334-1.829S1140.906,482.856,1140.192,484.152Z"
                                              transform="translate(-1059.689 -441.858)"
                                              fill="#fff" />
                                        <path d="M998.552,383.166l.674-1.007a1.072,1.072,0,0,1,.7-.47,1.227,1.227,0,0,1,.872.138l2.2,1.33c2.546-5.155,3.024-9.894.985-10.9-2.2-1.09-6.5,2.578-9.6,8.191s-3.831,11.051-1.631,12.142c1.966.974,5.605-1.848,8.57-6.458l-2.425-1.461A1.042,1.042,0,0,1,998.552,383.166Z"
                                              transform="translate(-950.563 -360.277)"
                                              fill="#fff" />
                                        <path d="M973.909,378.287l-2.372-1.613a2.069,2.069,0,0,1-.921-1.63c-.324-8.58,3.117-14.852,10.258-18.854a3.278,3.278,0,0,1,3.289.07l2.112,1.29C978.02,361.485,974.114,368.551,973.909,378.287Z"
                                              transform="translate(-934.276 -347.092)"
                                              fill="#fff" />
                                        <path d="M1113.2,478.749l-2.372-1.615a2.066,2.066,0,0,1-.924-1.628c-.322-8.58,3.119-14.854,10.258-18.856a3.278,3.278,0,0,1,3.289.07l2.112,1.29C1117.313,461.945,1113.405,469.011,1113.2,478.749Z"
                                              transform="translate(-1042.865 -428.47)"
                                              fill="#fff" />
                                    </g>
                                    <path d="M817.957,408.227c-1.627,5.191-3.952,27.229-33.283,16.419a48.121,48.121,0,0,0-6.853-2.051c-31.8-6.582-44.943,18.942-18.835,35.944a.167.167,0,0,0,.245-.215c-2.4-3.947-13.571-24.718,9.258-21.138,14.142,2.22,62.157,27.252,49.651-28.948a.084.084,0,0,0-.085-.084A.088.088,0,0,0,817.957,408.227Z"
                                          transform="translate(-745.083 -389.515)"
                                          fill="url(#c)" />
                                </g>
                            </g>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="100"
                             height="50"
                             viewBox="0 0 171 90">
                            <defs>
                                <clipPath id="a">
                                    <rect width="171"
                                          height="90"
                                          fill="#fff"
                                          stroke="#707070"
                                          stroke-width="1" />
                                </clipPath>
                            </defs>
                            <g clip-path="url(#a)">
                                <g transform="translate(8.214 20.571)">
                                    <path d="M645.066,876.094v9.373h-4.559q-5.52,0-6.429-8.135v-6.024H631.8v13.54q-1.05,8.9-7.932,8.9h-22.2c-.03-.481-.045-.926-.045-1.338q0-7,7.066-8.083H623.5V872.129q0-10.039,7.75-10.039h3.738q7.2,0,7.2,8.288v5.716Zm-30.138,22.09v2.832a4.515,4.515,0,0,1-2.963,4.531,3.741,3.741,0,0,1-1.231.2,3.274,3.274,0,0,1-1.231-.2,4.568,4.568,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm10.761,0v2.832a4.515,4.515,0,0,1-2.963,4.531,3.741,3.741,0,0,1-1.231.2,3.247,3.247,0,0,1-1.231-.2,4.572,4.572,0,0,1-2.92-4.531v-2.832l4.151-2.627Z"
                                          transform="translate(-601.62 -847.002)"
                                          fill="#fff" />
                                    <path d="M770.24,841.006h6.837v-5.462q1.46-8.444,7.66-8.444h.594V841h7.521v9.372H770.24Zm8.981-24.559v2.832a4.514,4.514,0,0,1-2.965,4.531,3.737,3.737,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.582,4.582,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm10.758,0v2.832a4.514,4.514,0,0,1-2.963,4.531,3.737,3.737,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.573,4.573,0,0,1-2.917-4.531v-2.832l4.148-2.627Z"
                                          transform="translate(-727.796 -811.914)"
                                          fill="#fff" />
                                    <path d="M860.84,841.006V837.3q0-10.044,13.859-10.3,6.064.565,6.112,7.723v6.281q0,9.372-6.474,9.372h-19.7v-9.372Zm8.49-24.559v2.832a4.515,4.515,0,0,1-2.963,4.531,3.736,3.736,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.573,4.573,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm3.922,24.559v-4.427l-4.332,1.092v3.345Zm6.839-24.559v2.832a4.514,4.514,0,0,1-2.965,4.531,3.736,3.736,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.582,4.582,0,0,1-2.917-4.531v-2.832l4.128-2.627Z"
                                          transform="translate(-790.951 -811.914)"
                                          fill="#fff" />
                                    <path d="M982.365,806.84h.594v29.092h3.776V845.3h-4.649q-7.385,0-7.385-8.343V815.284Q976.165,806.843,982.365,806.84Z"
                                          transform="translate(-880.79 -806.84)"
                                          fill="#fff" />
                                    <path d="M1018.56,876.356h6.839v-5.462q1.458-8.444,7.657-8.444h.594v13.9h7.521v9.372H1018.56Zm8.981,15.858v2.832a4.509,4.509,0,0,1-2.965,4.531,3.652,3.652,0,0,1-1.228.208,3.214,3.214,0,0,1-1.233-.208,4.576,4.576,0,0,1-2.917-4.531v-2.832l4.151-2.624Zm10.758,0v2.832a4.508,4.508,0,0,1-2.963,4.531,3.675,3.675,0,0,1-1.231.208,3.21,3.21,0,0,1-1.231-.208,4.568,4.568,0,0,1-2.917-4.531v-2.832l4.148-2.624Z"
                                          transform="translate(-913.609 -847.264)"
                                          fill="#fff" />
                                    <path d="M1109.827,835.932V815.284q1.458-8.441,7.66-8.444h.591v30.122q0,8.34-7.385,8.343h-5.563v-9.373Z"
                                          transform="translate(-978.389 -806.84)"
                                          fill="#fff" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="d-flex navLarge d-none d-lg-flex justify-content-between w-100">
                    <ul class="navbar-nav flex-lg-row mb-2 mb-lg-0">
                        <li class="nav-item active d-flex justify-content-center align-items-center">
                            <a class="nav-link" aria-current="page" href="#">الرئيسية</a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center hoverabllink">
                            <a class="nav-link" href="#" role="button">
                                خدماتنا<i class="bi bi-chevron-down ms-2"></i>
                            </a>
                            <ul class="bg-white subs-menu text-dark position-absolute start-0 end-0 justify-content-center align-items-center border-0">
                                <li class="d-flex justify-content-center align-items-center h-100">
                                    <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center flex-column"
                                       href="#"> <img src="~/User/images/NavIcons/XMLID_47_@@2x.png" alt="" class="img-fluid"> تمارين رياضية</a>
                                </li>
                                <li class="d-flex justify-content-center align-items-center h-100">
                                    <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center  flex-column"
                                       href="#"><i class="bi bi-chevron-down ms-2 h1"></i> aaaaaaaaaa</a>
                                </li>
                                <li class="d-flex justify-content-center align-items-center h-100">
                                    <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center flex-column"
                                       href="#"><i class="bi bi-chevron-down ms-2 h1"></i> aaaaaaaaaa</a>
                                </li>
                                <li class="d-flex justify-content-center align-items-center h-100">
                                    <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center flex-column"
                                       href="#"><i class="bi bi-chevron-down ms-2 h1"></i> aaaaaaaaaa</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item d-flex justify-content-center align-items-center hoverabllink">
                            <a class="nav-link" href="#" role="button">
                                المنتجات<i class="bi bi-chevron-down ms-2"></i>
                            </a>
                            <ul class="bg-white subs-menu text-dark position-absolute start-0 end-0 justify-content-center align-items-center border-0">
                                <li class="d-flex justify-content-center align-items-center h-100">
                                    <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center "
                                       href="#"><i class="bi bi-chevron-down ms-2 h1"></i>أجهزة رياضية</a>
                                </li>
                                <li class="d-flex justify-content-center align-items-center h-100">
                                    <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center "
                                       href="#"><i class="bi bi-chevron-down ms-2 h1"></i></a>
                                </li>
                                <li class="d-flex justify-content-center align-items-center h-100">
                                    <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center "
                                       href="#"><i class="bi bi-chevron-down ms-2 h1"></i> aaaaaaaaaa</a>
                                </li>
                                <li class="d-flex justify-content-center align-items-center h-100">
                                    <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center flex-column"
                                       href="#"><i class="bi bi-chevron-down ms-2 h1"></i> aaaaaaaaaa</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a class="nav-link" aria-current="page" href="#">مقالات</a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a class="nav-link" aria-current="page" href="#">المدربين</a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a class="nav-link" aria-current="page" href="#">من نحن</a>
                        </li>
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a class="nav-link" aria-current="page" asp-area="admin" asp-page="/Dashboard/Index">لوحة التحكم</a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between gap-2 align-items-center">
                        <div class="fav-cart d-flex justify-content-between align-items-center">
                            <a href="" class="btn" title="fav">
                                <i class="bi bi-bag-dash h3"></i>
                            </a>
                            <a href="" title="cart"><i class="bi bi-heart-fill h3"></i></a>
                        </div>
                        <button class="btn-main col-auto text-black rounded-4 fw-bold d-inline-block border-0 py-2 px-3">
                            تسجيل الدخول
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="d-lg-none position-fixed w-100" style="z-index: 13">
        <div class="d-flex justify-content-between align-items-center navbar-brand-container">
            <a title="Home"
               class="d-flex justify-content-center align-items-center"
               href="#">
                <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     height="80"
                     viewBox="0 0 138 121">
                    <defs>
                        <clipPath id="a1">
                            <rect width="138"
                                  height="121"
                                  fill="#fff"
                                  stroke="#707070"
                                  stroke-width="1" />
                        </clipPath>
                        <linearGradient id="b"
                                        y1="0.5"
                                        x2="1"
                                        y2="0.5"
                                        gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#fff" />
                            <stop offset="1" stop-color="#fff" />
                        </linearGradient>
                        <linearGradient id="c"
                                        x1="0"
                                        y1="0.5"
                                        x2="1"
                                        y2="0.5"
                                        xlink:href="#b" />
                    </defs>
                    <g clip-path="url(#a1)">
                        <g transform="translate(17.75 19.438)">
                            <path d="M795.259,582.63c37.967.486,41.705,48.247-9,35.71a.123.123,0,0,1-.091-.129.134.134,0,0,1,.122-.108c29.1-.517,31.48-25.144,8.918-35.241a.118.118,0,0,1-.079-.135.137.137,0,0,1,.134-.1Z"
                                  transform="translate(-777.109 -530.85)"
                                  fill="url(#b)" />
                            <g transform="translate(13.387)">
                                <ellipse cx="13.26"
                                         cy="14.011"
                                         rx="13.26"
                                         ry="14.011"
                                         transform="translate(0)"
                                         fill="#fff" />
                                <path d="M1024.286,424.67a1.23,1.23,0,0,0-.872-.137,1.074,1.074,0,0,0-.7.47l-.675,1.009a1.041,1.041,0,0,0,.348,1.487l4.9,2.946,1.589-3.013Z"
                                      transform="translate(-974.24 -402.762)"
                                      fill="#fff" />
                                <path d="M1082.175,462.171l-12.213-7.351-1.592,3.013,11.9,7.167a1.225,1.225,0,0,0,.872.138,1.07,1.07,0,0,0,.7-.47l.677-1.007A1.041,1.041,0,0,0,1082.175,462.171Z"
                                      transform="translate(-1010.499 -427.317)"
                                      fill="#fff" />
                                <path d="M1143.968,472.962c-2.2-1.09-6.5,2.578-9.6,8.191s-3.831,11.051-1.631,12.142,6.5-2.576,9.6-8.191S1146.168,474.052,1143.968,472.962Zm-3.776,11.19c-.714,1.294-1.763,2.112-2.332,1.829s-.458-1.565.256-2.859,1.763-2.114,2.334-1.829S1140.906,482.856,1140.192,484.152Z"
                                      transform="translate(-1059.689 -441.858)"
                                      fill="#fff" />
                                <path d="M998.552,383.166l.674-1.007a1.072,1.072,0,0,1,.7-.47,1.227,1.227,0,0,1,.872.138l2.2,1.33c2.546-5.155,3.024-9.894.985-10.9-2.2-1.09-6.5,2.578-9.6,8.191s-3.831,11.051-1.631,12.142c1.966.974,5.605-1.848,8.57-6.458l-2.425-1.461A1.042,1.042,0,0,1,998.552,383.166Z"
                                      transform="translate(-950.563 -360.277)"
                                      fill="#fff" />
                                <path d="M973.909,378.287l-2.372-1.613a2.069,2.069,0,0,1-.921-1.63c-.324-8.58,3.117-14.852,10.258-18.854a3.278,3.278,0,0,1,3.289.07l2.112,1.29C978.02,361.485,974.114,368.551,973.909,378.287Z"
                                      transform="translate(-934.276 -347.092)"
                                      fill="#fff" />
                                <path d="M1113.2,478.749l-2.372-1.615a2.066,2.066,0,0,1-.924-1.628c-.322-8.58,3.119-14.854,10.258-18.856a3.278,3.278,0,0,1,3.289.07l2.112,1.29C1117.313,461.945,1113.405,469.011,1113.2,478.749Z"
                                      transform="translate(-1042.865 -428.47)"
                                      fill="#fff" />
                            </g>
                            <path d="M817.957,408.227c-1.627,5.191-3.952,27.229-33.283,16.419a48.121,48.121,0,0,0-6.853-2.051c-31.8-6.582-44.943,18.942-18.835,35.944a.167.167,0,0,0,.245-.215c-2.4-3.947-13.571-24.718,9.258-21.138,14.142,2.22,62.157,27.252,49.651-28.948a.084.084,0,0,0-.085-.084A.088.088,0,0,0,817.957,408.227Z"
                                  transform="translate(-745.083 -389.515)"
                                  fill="url(#c)" />
                        </g>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="100"
                     height="50"
                     viewBox="0 0 171 90">
                    <defs>
                        <clipPath id="a">
                            <rect width="171"
                                  height="90"
                                  fill="#fff"
                                  stroke="#707070"
                                  stroke-width="1" />
                        </clipPath>
                    </defs>
                    <g clip-path="url(#a)">
                        <g transform="translate(8.214 20.571)">
                            <path d="M645.066,876.094v9.373h-4.559q-5.52,0-6.429-8.135v-6.024H631.8v13.54q-1.05,8.9-7.932,8.9h-22.2c-.03-.481-.045-.926-.045-1.338q0-7,7.066-8.083H623.5V872.129q0-10.039,7.75-10.039h3.738q7.2,0,7.2,8.288v5.716Zm-30.138,22.09v2.832a4.515,4.515,0,0,1-2.963,4.531,3.741,3.741,0,0,1-1.231.2,3.274,3.274,0,0,1-1.231-.2,4.568,4.568,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm10.761,0v2.832a4.515,4.515,0,0,1-2.963,4.531,3.741,3.741,0,0,1-1.231.2,3.247,3.247,0,0,1-1.231-.2,4.572,4.572,0,0,1-2.92-4.531v-2.832l4.151-2.627Z"
                                  transform="translate(-601.62 -847.002)"
                                  fill="#fff" />
                            <path d="M770.24,841.006h6.837v-5.462q1.46-8.444,7.66-8.444h.594V841h7.521v9.372H770.24Zm8.981-24.559v2.832a4.514,4.514,0,0,1-2.965,4.531,3.737,3.737,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.582,4.582,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm10.758,0v2.832a4.514,4.514,0,0,1-2.963,4.531,3.737,3.737,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.573,4.573,0,0,1-2.917-4.531v-2.832l4.148-2.627Z"
                                  transform="translate(-727.796 -811.914)"
                                  fill="#fff" />
                            <path d="M860.84,841.006V837.3q0-10.044,13.859-10.3,6.064.565,6.112,7.723v6.281q0,9.372-6.474,9.372h-19.7v-9.372Zm8.49-24.559v2.832a4.515,4.515,0,0,1-2.963,4.531,3.736,3.736,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.573,4.573,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm3.922,24.559v-4.427l-4.332,1.092v3.345Zm6.839-24.559v2.832a4.514,4.514,0,0,1-2.965,4.531,3.736,3.736,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.582,4.582,0,0,1-2.917-4.531v-2.832l4.128-2.627Z"
                                  transform="translate(-790.951 -811.914)"
                                  fill="#fff" />
                            <path d="M982.365,806.84h.594v29.092h3.776V845.3h-4.649q-7.385,0-7.385-8.343V815.284Q976.165,806.843,982.365,806.84Z"
                                  transform="translate(-880.79 -806.84)"
                                  fill="#fff" />
                            <path d="M1018.56,876.356h6.839v-5.462q1.458-8.444,7.657-8.444h.594v13.9h7.521v9.372H1018.56Zm8.981,15.858v2.832a4.509,4.509,0,0,1-2.965,4.531,3.652,3.652,0,0,1-1.228.208,3.214,3.214,0,0,1-1.233-.208,4.576,4.576,0,0,1-2.917-4.531v-2.832l4.151-2.624Zm10.758,0v2.832a4.508,4.508,0,0,1-2.963,4.531,3.675,3.675,0,0,1-1.231.208,3.21,3.21,0,0,1-1.231-.208,4.568,4.568,0,0,1-2.917-4.531v-2.832l4.148-2.624Z"
                                  transform="translate(-913.609 -847.264)"
                                  fill="#fff" />
                            <path d="M1109.827,835.932V815.284q1.458-8.441,7.66-8.444h.591v30.122q0,8.34-7.385,8.343h-5.563v-9.373Z"
                                  transform="translate(-978.389 -806.84)"
                                  fill="#fff" />
                        </g>
                    </g>
                </svg>
            </a>
            <button class="d-lg-none btn"
                    id="navbarToggler"
                    type="button"
                    title="navbar-toggler">
                <i class="bi bi-list h2"></i>
            </button>
        </div>
        <div class="NavLinks-Container nav-small d-none w-100 position-fixed"
             id="navbarCollapse">
            <div class="accordion" id="accordionExample">
                <ul class="navbar-nav h-100 flex-lg-row mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="nav-link d-flex justify-content-between align-items-center p-0"
                             href="#">
                            <span class="w-100">
                                <a class="nav-link w-100" href=""> الرئيسية </a>
                            </span>
                            <button title="close" class="btn px-0 close">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="accordion-item border-0 shadow-none">
                            <h2 class="accordion-header border-0 p-0">
                                <button class="accordion-button border-0 px-0"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    خدماتنا
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body p-0">
                                    <ul class="sub-menu">
                                        <li><a class="sub-menu-item" href="#">Action</a></li>
                                        <li>
                                            <a class="sub-menu-item" href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a class="sub-menu-item" href="#">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="accordion-item border-0 shadow-none">
                            <h2 class="accordion-header border-0 p-0" id="headingOne">
                                <button class="accordion-button border-0 px-0"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    المنتجات
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body p-0">
                                    <ul class="sub-menu">
                                        <li><a class="sub-menu-item" href="#">Action</a></li>
                                        <li>
                                            <a class="sub-menu-item" href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a class="sub-menu-item" href="#">Something else here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">مقالات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">المدربين</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">من نحن</a>
                    </li>
                    <li class="nav-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn-main col-auto text-black rounded-4 fw-bold d-inline-block border-0 py-2 px-3">
                                تسجيل الدخول
                            </button>
                            <div class="fav-cart d-flex justify-content-between align-items-center">
                                <a href="" class="btn" title="fav">
                                    <i class="bi bi-bag-dash h3"></i>
                                </a>
                                <a href="" title="cart">
                                    <i class="bi bi-heart-fill h3"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="bgFooter mt-5">
        <div class="container px-lg-5 pt-lg-5">
            <div class="row mb-5">
                <div class="col-12 col-md-6 order-last order-lg-first col-lg-4 my-auto">
                    <h6 class="text-center">اشترك في النشرة البريدية ليصلك كل جديد</h6>
                    <form action="">
                        <input class="my-3 mx-auto border-0 px-3 py-2 w-100"
                               type="text"
                               placeholder="البريد الالتكروني" />
                        <button class="px-3 py-2 border-0 rounded-2 text-white d-block mx-auto"
                                style="background-color: #bfe9d4">
                            اشترك
                        </button>
                    </form>
                </div>
                <div class="col-12 col-lg-4 text-center order-first order-lg-0">
                    <img src="~/User/images/Mask Group 1.png" alt="" srcset="" />
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-around my-auto">
                    <ul class="p-0">
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href="">خدماتنا </a>
                        </li>
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href=""> منتجاتنا </a>
                        </li>
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href=""> مقالاتنا </a>
                        </li>
                    </ul>
                    <div style="height: 100px; width: 1px; background-color: #707070"></div>
                    <ul class="p-0">
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href=""> اجهزة رياضية </a>
                        </li>
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href=""> حلويات صحية </a>
                        </li>
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href=""> مدربين </a>
                        </li>
                    </ul>
                    <div style="height: 100px; width: 1px; background-color: #707070"></div>
                    <ul class="p-0">
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href="">مكملات غذائية </a>
                        </li>
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href=""> وصفات صحية </a>
                        </li>
                        <li class="mb-2">
                            <a class="fw-bold colorLinkFooter" href=""> برامج رياضية </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 mx-auto d-flex justify-content-between">
                    <h6 class="fw-bold">عن لياقتي</h6>
                    <h6 class="fw-bold">اتصل بنا</h6>
                    <h6 class="fw-bold">شروط الأستخدام</h6>
                    <h6 class="fw-bold">تطبيق الموبايل</h6>
                </div>
            </div>
            <hr />

            <div class="row mt-4 pb-5">
                <h5 style="color: #707070"
                    class="col-12 col-lg-9 mx-auto text-center">
                    جميع الحقوق محفوظة لموقع لياقتي و تخضع لشروط و إتفاق الأستخدام
                    &copy; 2023
                </h5>
            </div>
        </div>
    </div>

    <div class="blur-div top-0 start-0 w-100 min-vh-100 position-fixed"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/User/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/User/js/nice-select2.js"></script>
    <script src="~/User/js/Index.js"></script>
    <script defer src="~/User/js/SwiperSliders.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>