<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - liaqati_master</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.rtl.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/User/css/nice-select2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/node_modules/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
    <link href="~/assets/css/width.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/user/css/footercss.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/User/css/index.css" asp-append-version="true" />
    <style>
        .subs-menu {
            display: none !important;
            width: 100vw;
            height: 150px;
            bottom: -150px;
            border-top: 0.5px solid rgba(136, 133, 133, 0.427) !important;
            border-bottom: 0.5px solid rgba(136, 133, 133, 0.427) !important;
        }

            .subs-menu li {
                list-style: none;
                width: 200px;
            }

                .subs-menu li a:hover {
                    background-color: #9e92e2b0;
                }

        .hoverabllink:hover .subs-menu {
            display: flex !important;
        }

        .navbar-container .nav-item {
            padding: 0 10px;
        }

            .navbar-container .nav-item.active,
            .navbar-container .nav-item:hover {
                border-top: 3px solid #a864c8;
                border-bottom: 3px solid #a864c8;
            }

        .bg-white-with-blur {
            background-color: rgba(255, 255, 255);
            backdrop-filter: blur(10px);
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <partial name="DesktopNav" />
    <partial name="MobileNav" />
    @RenderBody()
    <partial name="Footer" />
    <div class="blur-div top-0 start-0 w-100 min-vh-100 position-fixed"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script rel="stylesheet" src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/User/js/nice-select2.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>