@model MealPlans
<div id="colCloneMeal" class="col-12 col-md-6 col-lg-3 p-2">
    <div class="card">
        <div class="position-relative">
            <img src="~/User/images/images.jfif" class="card-img-top" alt="...">
            <img width="40" class="position-absolute" style="top: 20px; right: 20px" src="@Model.image" alt="" srcset="">
        </div>

        <div class="card-body">
            <h5 class="card-title mb-3">@Model.services.Title</h5>
            <p class="card-text">@Model.services.Description </p>
            <div class="d-flex justify-content-between">
                <div>
                    <h6 class="d-inline-block ms-2 fw-bold">عدد المشتركين</h6>

                    <div style="background-color: #ffe9cb" class="rounded-pill d-inline-block fw-bold align-middle p-2">
                        105
                    </div>
                </div>
                <div>
                    <h5 class="d-inline-block fw-bold text-danger align-middle ms-1 mt-2">
                        @Model.services.Price
                    </h5>
                    <img width="20" src="assets/Images/cart-3-svgrepo-com.png" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>