@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager
@inject SignInManager<User> signManager
<nav class="navbar-container top-0 shadow bg-white-with-blur p-0 px-2 position-relative d-none d-lg-flex position-fixed w-100">
    <div class="container-xl p-0">
        <div class="d-flex">
            <div class="d-flex justify-content-between align-items-center navbar-brand-container">
                <partial name="HeaderLogo" />
            </div>
            <div class="d-flex navLarge d-none d-lg-flex justify-content-between w-100">
                <ul class="navbar-nav flex-lg-row mb-2 mb-lg-0">
                    <li class="nav-item active d-flex justify-content-center align-items-center">
                        <a class="nav-link" aria-current="page" asp-page="/home/index2">الرئيسية</a>
                    </li>
                    <li class="nav-item d-flex justify-content-center align-items-center hoverabllink">
                        <a class="nav-link" href="#" role="button">
                            خدماتنا<i class="bi bi-chevron-down ms-2"></i>
                        </a>
                        <ul class="bg-white subs-menu text-dark position-absolute start-0 end-0 justify-content-center align-items-center border-0">
                            <li class="d-flex justify-content-center align-items-center h-100">
                                <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center flex-column py-4"
                                   asp-page="/exercises/index"> <img style="width:50px" src="~/User/images/NavIcons/XMLID_47_@@2x.png" alt="" class="img-fluid "> تمارين رياضية</a>
                            </li>
                            <li class="d-flex justify-content-center align-items-center h-100">
                                <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center  flex-column py-4"
                                   asp-page="/MealPlan/index"> <img style="width:50px" src="~/images/home/2.jpeg" alt="" class="img-fluid " />  الانظمة الغذائية </a>
                            </li>
                            <li class="d-flex justify-content-center align-items-center h-100">
                                <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center flex-column py-4"
                                   asp-page="/SportProgram/index"><img style="width:50px" src="~/images/home/3.jpeg" alt="" class="img-fluid " /> الانظمة الرياضية</a>
                            </li>
                            <li class="d-flex justify-content-center align-items-center h-100">
                                <a class="text-decoration-none text-black w-100 h-100 d-flex justify-content-center align-items-center flex-column py-4"
                                   asp-page="/HealthyRecipes/index">
                                    <img style="width:50px" src="~/images/home/healthy.jpeg" alt="" class="img-fluid " />الوصفات الغذائية
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item d-flex justify-content-center align-items-center hoverabllink">
                        <a asp-page="/Products/index" class="nav-link" role="button">
                            المنتجات
                        </a>

                    </li>
                    <li class="nav-item d-flex justify-content-center align-items-center">
                        <a class="nav-link" aria-current="page" asp-page="/Articles/index">مقالات</a>
                    </li>
                    <li class="nav-item d-flex justify-content-center align-items-center">
                        <a class="nav-link" aria-current="page" asp-page="/Experts/index">  الخبراء</a>
                    </li>
                    <li class="nav-item d-flex justify-content-center align-items-center">
                        <a class="nav-link" aria-current="page"  asp-page="/aboutus/index"> من نحن</a>
                    </li>
                    @if (User.FindFirstValue(Database.Admin) == "true" || User.FindFirstValue(Database.Expert) == "true")
                    {
                        <li class="nav-item d-flex justify-content-center align-items-center">
                            <a class="nav-link" aria-current="page" asp-area="admin" asp-page="/Dashboard/Index">لوحة التحكم</a>
                        </li>
                    }

                </ul>



                <div class="d-flex justify-content-between gap-2 align-items-center">
                    @*                    <div class="fav-cart d-flex justify-content-between align-items-center">
                    @*        <a href="" class="btn" title="fav">
                    <i class="bi bi-bag-dash h3"></i>
                    </a>
                    <a href="" title="cart"><i class="bi bi-heart-fill h3 me-2"></i></a>
                    <a href="#" class="dropdown-toggle nav-link ms-1" data-bs-toggle="dropdown">
                    <span style="
                    font-weight: 500;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                    color: #131e22;">محمد جمال</span>
                    <span class="user-img" style="width: 52px;
                    height: 52px;
                    font-size: 24px;
                    background: #ebeff3;
                    color: #1b00ff;
                    line-height: 52px;
                    text-align: center;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 100%;
                    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.18);
                    box-shadow: 0 0 10px rgba(0,0,0,.18);">
                    <img src="~/Images/photo.jpg" alt="" style="
                    width: auto;
                    border: 0;
                    vertical-align: top;
                    max-width: 100%;
                    height: auto">
                    <span class="status online"></span>
                    </span>
                    </a>
                    <div class="dropdown-menu mt-1" style="border-radius: 10px;">
                    <a class="dropdown-item" href="profile.html">
                    <i class="bi bi-person me-1"></i>
                    الصفحة الشخصية
                    </a>
                    <a class="dropdown-item" href="#"><i class="bi bi-heart me-1"></i>المفضلة</a>
                    <a class="dropdown-item" href="#"><i class="bi bi-cart3 me-1"></i>سلة المشتريات</a>
                    <a class="dropdown-item" href="#"><i class="bi bi-lock me-1"></i>تغيير كلمة المرور</a>
                    <a class="dropdown-item" href="settings.html">
                    <i class="bi bi-gear me-1"></i>
                    الإعدادات
                    </a>
                    <a class="dropdown-item" href="login.html">
                    <i class="bi bi-box-arrow-right me-1"></i>
                    تسجيل خروج
                    </a>

                    </div>
                    </div>
                    *@                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </div>
</nav>
