<div class="bgFooter mt-5">
    <div class="container px-lg-5 pt-lg-5">
        <div class="row mb-5">
            <div class="col-12 col-md-8 order-last order-lg-first col-lg-4 my-auto">
                <h6 class="text-center">اشترك في النشرة البريدية ليصلك كل جديد</h6>
                <form action="">
                    <input class="my-3 mx-auto border-0 px-3 py-2 w-100"
                           type="text"
                           placeholder="البريد الالتكروني" />
                    <button class="px-3 py-2 border-0 rounded-2 text-white d-block mx-auto"
                            style="background-color: #bfe9d4">
                        اشترك
                    </button>
                </form>
            </div>
            <div class="col-12 col-lg-4 text-center order-first order-lg-0">
                <img src="~/User/images/Mask Group 1.png" alt="" srcset="" />
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-around my-auto">
                <ul class="p-0">
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href="">خدماتنا </a>
                    </li>
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href=""> منتجاتنا </a>
                    </li>
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href=""> مقالاتنا </a>
                    </li>
                </ul>
                <div style="height: 100px; width: 1px; background-color: #707070"></div>
                <ul class="p-0">
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href=""> اجهزة رياضية </a>
                    </li>
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href=""> حلويات صحية </a>
                    </li>
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href=""> مدربين </a>
                    </li>
                </ul>
                <div style="height: 100px; width: 1px; background-color: #707070"></div>
                <ul class="p-0">
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href="">مكملات غذائية </a>
                    </li>
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href=""> وصفات صحية </a>
                    </li>
                    <li class="mb-2">
                        <a class="fw-bold colorLinkFooter" href=""> برامج رياضية </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-5 mx-auto d-flex justify-content-between">
                <h6 class="fw-bold">عن لياقتي</h6>
                <h6 class="fw-bold">اتصل بنا</h6>
                <h6 class="fw-bold">شروط الأستخدام</h6>
                <h6 class="fw-bold">تطبيق الموبايل</h6>
            </div>
        </div>
        <hr />

        <div class="row mt-4 pb-5">
            <h5 style="color: #707070"
                class="col-12 col-lg-9 mx-auto text-center">
                جميع الحقوق محفوظة لموقع لياقتي و تخضع لشروط و إتفاق الأستخدام
                &copy; 2023
            </h5>
        </div>
    </div>
</div>
