<section class="container-fluid newsletter p-5  text-center mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="text-decoration-underline">ابدأ الآن</h1>
            <h4 class="text-center fw-bold my-4">
                كن من أسرة لياقتي وغير حياتك للأفضل
            </h4>
            <div class="p-0 g-0 row d-flex justify-content-center">
                <div class="col-12 col-md-6 my-2 my-md-0 my-lg-0 col-lg-6">
                    <input type="email" class="form-control shadow  inputborderAll newsletter-email" placeholder="البريد الالكتروني">
                </div>

                <button class="btn text-white btn-participate shadow col-12 col-md-6">
                    اشترك الآن
                </button>
            </div>
        </div>
    </div>
</section>
<footer class="container-fluid mt-5 p-0 pt-lg-5  pb-0">
    <div class="container-fluid p-0 text-centers">

        <div class="row g-0 p-0 d-flex flex-column flex-lg-row align-content-center justify-content-center flex-wrap ">
            <div class="col-lg-3 p-4 d-flex  justify-content-center align-items-center ">
                <img alt="logo" class="img-fluid " width="200" src="assets/images/Mask Group 1.png">

            </div>
            <div class="row col-lg-9  g-0 p-0 d-flex justify-content-center align-items-center pt-0 ">
                <ul class="nav flex-column justify-content-center   h-100  col-sm-4  col-12 p-2 text-center align-self-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            خدماتنا
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            منتجاتنا
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            مقالاتنا
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column   justify-content-center h-100  col-sm-4 col-12 p-2 text-center align-self-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            أجهزة رياضية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            حلويات صحية

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            مدربين
                        </a>
                    </li>
                </ul>
                <ul class="nav flex-column   justify-content-center  h-100  col-sm-4  col-12 p-2 text-center align-self-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            مكملات غذائية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            وصفات صحية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            برامج رياضية
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" d-flex gap-4 flex-wrap  justify-content-center mt-4 m-lg-0">
            <a href="#" class="text-decoration-none text-black">
                <h6 class="fw-bold ">عن لياقتي</h6>
            </a>
            <a href="#" class="text-decoration-none text-black">
                <h6 class="fw-bold">اتصل بنا</h6>
            </a>
            <a href="#" class="text-decoration-none text-black">
                <h6 class="fw-bold">شروط الاستخدام</h6>
            </a>
            <a href="#" class="text-decoration-none text-black">
                <h6 class="fw-bold">تطبيق الموبايل</h6>
            </a>
        </div>
        <div class="row g-0 text-center p-0 mt-3 copy-right">
            <h6 class="py-4 m-0 fw-bold">
                جميع الحقوق محفوظة لموقع لياقتي وتخضع لشروط وإتفاق الإستخدام © 2023
            </h6>
        </div>
    </div>
</footer>

