<a title="Home"
   class="d-flex justify-content-center align-items-center"
   asp-page="/Home/Index">
    <svg xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         height="80"
         viewBox="0 0 138 121">
        <defs>
            <clipPath id="a1">
                <rect width="138"
                      height="121"
                      fill="#fff"
                      stroke="#707070"
                      stroke-width="1" />
            </clipPath>
            <linearGradient id="b"
                            y1="0.5"
                            x2="1"
                            y2="0.5"
                            gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#fff" />
                <stop offset="1" stop-color="#fff" />
            </linearGradient>
            <linearGradient id="c"
                            x1="0"
                            y1="0.5"
                            x2="1"
                            y2="0.5"
                            xlink:href="#b" />
        </defs>
        <g clip-path="url(#a1)">
            <g transform="translate(17.75 19.438)">
                <path d="M795.259,582.63c37.967.486,41.705,48.247-9,35.71a.123.123,0,0,1-.091-.129.134.134,0,0,1,.122-.108c29.1-.517,31.48-25.144,8.918-35.241a.118.118,0,0,1-.079-.135.137.137,0,0,1,.134-.1Z"
                      transform="translate(-777.109 -530.85)"
                      fill="url(#b)" />
                <g transform="translate(13.387)">
                    <ellipse cx="13.26"
                             cy="14.011"
                             rx="13.26"
                             ry="14.011"
                             transform="translate(0)"
                             fill="#fff" />
                    <path d="M1024.286,424.67a1.23,1.23,0,0,0-.872-.137,1.074,1.074,0,0,0-.7.47l-.675,1.009a1.041,1.041,0,0,0,.348,1.487l4.9,2.946,1.589-3.013Z"
                          transform="translate(-974.24 -402.762)"
                          fill="#fff" />
                    <path d="M1082.175,462.171l-12.213-7.351-1.592,3.013,11.9,7.167a1.225,1.225,0,0,0,.872.138,1.07,1.07,0,0,0,.7-.47l.677-1.007A1.041,1.041,0,0,0,1082.175,462.171Z"
                          transform="translate(-1010.499 -427.317)"
                          fill="#fff" />
                    <path d="M1143.968,472.962c-2.2-1.09-6.5,2.578-9.6,8.191s-3.831,11.051-1.631,12.142,6.5-2.576,9.6-8.191S1146.168,474.052,1143.968,472.962Zm-3.776,11.19c-.714,1.294-1.763,2.112-2.332,1.829s-.458-1.565.256-2.859,1.763-2.114,2.334-1.829S1140.906,482.856,1140.192,484.152Z"
                          transform="translate(-1059.689 -441.858)"
                          fill="#fff" />
                    <path d="M998.552,383.166l.674-1.007a1.072,1.072,0,0,1,.7-.47,1.227,1.227,0,0,1,.872.138l2.2,1.33c2.546-5.155,3.024-9.894.985-10.9-2.2-1.09-6.5,2.578-9.6,8.191s-3.831,11.051-1.631,12.142c1.966.974,5.605-1.848,8.57-6.458l-2.425-1.461A1.042,1.042,0,0,1,998.552,383.166Z"
                          transform="translate(-950.563 -360.277)"
                          fill="#fff" />
                    <path d="M973.909,378.287l-2.372-1.613a2.069,2.069,0,0,1-.921-1.63c-.324-8.58,3.117-14.852,10.258-18.854a3.278,3.278,0,0,1,3.289.07l2.112,1.29C978.02,361.485,974.114,368.551,973.909,378.287Z"
                          transform="translate(-934.276 -347.092)"
                          fill="#fff" />
                    <path d="M1113.2,478.749l-2.372-1.615a2.066,2.066,0,0,1-.924-1.628c-.322-8.58,3.119-14.854,10.258-18.856a3.278,3.278,0,0,1,3.289.07l2.112,1.29C1117.313,461.945,1113.405,469.011,1113.2,478.749Z"
                          transform="translate(-1042.865 -428.47)"
                          fill="#fff" />
                </g>
                <path d="M817.957,408.227c-1.627,5.191-3.952,27.229-33.283,16.419a48.121,48.121,0,0,0-6.853-2.051c-31.8-6.582-44.943,18.942-18.835,35.944a.167.167,0,0,0,.245-.215c-2.4-3.947-13.571-24.718,9.258-21.138,14.142,2.22,62.157,27.252,49.651-28.948a.084.084,0,0,0-.085-.084A.088.088,0,0,0,817.957,408.227Z"
                      transform="translate(-745.083 -389.515)"
                      fill="url(#c)" />
            </g>
        </g>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         width="100"
         height="50"
         viewBox="0 0 171 90">
        <defs>
            <clipPath id="a">
                <rect width="171"
                      height="90"
                      fill="#fff"
                      stroke="#707070"
                      stroke-width="1" />
            </clipPath>
        </defs>
        <g clip-path="url(#a)">
            <g transform="translate(8.214 20.571)">
                <path d="M645.066,876.094v9.373h-4.559q-5.52,0-6.429-8.135v-6.024H631.8v13.54q-1.05,8.9-7.932,8.9h-22.2c-.03-.481-.045-.926-.045-1.338q0-7,7.066-8.083H623.5V872.129q0-10.039,7.75-10.039h3.738q7.2,0,7.2,8.288v5.716Zm-30.138,22.09v2.832a4.515,4.515,0,0,1-2.963,4.531,3.741,3.741,0,0,1-1.231.2,3.274,3.274,0,0,1-1.231-.2,4.568,4.568,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm10.761,0v2.832a4.515,4.515,0,0,1-2.963,4.531,3.741,3.741,0,0,1-1.231.2,3.247,3.247,0,0,1-1.231-.2,4.572,4.572,0,0,1-2.92-4.531v-2.832l4.151-2.627Z"
                      transform="translate(-601.62 -847.002)"
                      fill="#fff" />
                <path d="M770.24,841.006h6.837v-5.462q1.46-8.444,7.66-8.444h.594V841h7.521v9.372H770.24Zm8.981-24.559v2.832a4.514,4.514,0,0,1-2.965,4.531,3.737,3.737,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.582,4.582,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm10.758,0v2.832a4.514,4.514,0,0,1-2.963,4.531,3.737,3.737,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.573,4.573,0,0,1-2.917-4.531v-2.832l4.148-2.627Z"
                      transform="translate(-727.796 -811.914)"
                      fill="#fff" />
                <path d="M860.84,841.006V837.3q0-10.044,13.859-10.3,6.064.565,6.112,7.723v6.281q0,9.372-6.474,9.372h-19.7v-9.372Zm8.49-24.559v2.832a4.515,4.515,0,0,1-2.963,4.531,3.736,3.736,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.573,4.573,0,0,1-2.917-4.531v-2.832l4.148-2.627Zm3.922,24.559v-4.427l-4.332,1.092v3.345Zm6.839-24.559v2.832a4.514,4.514,0,0,1-2.965,4.531,3.736,3.736,0,0,1-1.231.2,3.271,3.271,0,0,1-1.231-.2,4.582,4.582,0,0,1-2.917-4.531v-2.832l4.128-2.627Z"
                      transform="translate(-790.951 -811.914)"
                      fill="#fff" />
                <path d="M982.365,806.84h.594v29.092h3.776V845.3h-4.649q-7.385,0-7.385-8.343V815.284Q976.165,806.843,982.365,806.84Z"
                      transform="translate(-880.79 -806.84)"
                      fill="#fff" />
                <path d="M1018.56,876.356h6.839v-5.462q1.458-8.444,7.657-8.444h.594v13.9h7.521v9.372H1018.56Zm8.981,15.858v2.832a4.509,4.509,0,0,1-2.965,4.531,3.652,3.652,0,0,1-1.228.208,3.214,3.214,0,0,1-1.233-.208,4.576,4.576,0,0,1-2.917-4.531v-2.832l4.151-2.624Zm10.758,0v2.832a4.508,4.508,0,0,1-2.963,4.531,3.675,3.675,0,0,1-1.231.208,3.21,3.21,0,0,1-1.231-.208,4.568,4.568,0,0,1-2.917-4.531v-2.832l4.148-2.624Z"
                      transform="translate(-913.609 -847.264)"
                      fill="#fff" />
                <path d="M1109.827,835.932V815.284q1.458-8.441,7.66-8.444h.591v30.122q0,8.34-7.385,8.343h-5.563v-9.373Z"
                      transform="translate(-978.389 -806.84)"
                      fill="#fff" />
            </g>
        </g>
    </svg>
</a>