
body {
    background-color: #f5f6f1;
}

table thead tr {
    background-color: #A566C8;
}

    table thead tr th:nth-child(1) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
    }

    table thead tr th:last-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: hidden;
    }

    table thead tr th {
        padding: 15px !important;
        color: white !important;
    }

table tr th,
table tr td {
    vertical-align: middle;
}


th input[type="checkbox"] {
    height: 1.3rem;
    width: 1.3rem;
}

.form-check-input:indeterminate,
.form-check-input:checked {
    background-color: #A566C8 !important;
    accent-color: #A566C8;
    border-color: white !important;
    border-width: 2px;
}

.img__box {
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: zoom-in;
}

.image__viewer .img__box2 {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.img__box2 img,
.img__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image__viewer {
    background: rgba(0, 0, 0, .5);
}

.manage__data {
    background: #211f2c;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#BtnClose {
    display: inline-block;
    width: 40px !important;
    height: 40px !important;
    padding: 10px !important;
}

.border-raduis {
    border-radius: 5px;
    padding: 5px;
}
