@model MealPlans
<div class="col-12 col-md-6 col-lg-4 p-3">
    <div class="card  shadow-sm meal-plan overflow-hidden">
        <div class="card-header bg-transparent">
            <p class="text-center  p-0 m-0"># الأنظمة الحديثة</p>
        </div>

        <div class="position-relative   hoverable-image" style="height: 200px">
            <img src="img/food.png" class=" w-100 position-absolute h-100 top-0 start-0 object-fit-cover" alt="...">
            <div class="overlay w-100 position-absolute h-100 top-0 start-0"></div>
            <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100 p-3 top-0 start-0">
                <button class="btn bg-white-with-transparent more-details-btn rounded-pill shadow border-0 p-2 px-3 fw-bold" type="button">
                    مزيد من التفاصيل
                </button>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title fw-bold text-black text-end">
                النظام الغذائي الباليو
            </h5>
            <div class="d-flex justify-content-between align-items-center">
                <p class="card-subtitle">
                    يعتمد على تقليل الكربوهيدرات ومنع السكر المصنع والبطاطا
                </p>
                <p class="text-danger text-start h3 fw-bold me-3">$19.9</p>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-2">
                <div>
                    <p class="m-0">أسبوع</p>
                </div>
                <div>
                    <button class="btn border-0 text-white" style="background-color: #cb8cef">
                        اشترك الان
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>