@page
@model liaqati_master.Pages.MealPlan.IndexModel
@{
}
@section Styles{
    <style>
        @@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

        * {
            font-family: "Almarai", sans-serif;
        }

        .bg-white-with-transparent {
            background-color: rgba(255, 255, 255, 0.7) !important;
        }

        .overlay {
            transition: 0.3s;
            background-color: rgba(255, 255, 255, 0.4);
        }

        .hoverable-image:hover .overlay {
            opacity: 0;
        }

        .more-details-btn {
            opacity: 0;
            transition: 0.3s;
        }

        .hoverable-image:hover .more-details-btn {
            opacity: 1;
        }

        .meal-plan {
            transition: 0.3s;
        }

            .meal-plan:hover {
                border: 1px dashed #cb8cef;
            }
    </style>
}

<div class="position-relative w-100  overflow-hidden" style="background-size:cover; height: 70vh;background-image: linear-gradient(#00000060, #00000060),url('/images/pexels-ella-olsson-1640773 (2).jpg')">

    <div class="h-100">
        <div class="container-fluid h-100 p-0 position-absolute start-0 top-0 ">
            <div class="container-xl h-100  d-flex flex-column justify-content-center align-items-center " style="padding-top:120px !important">
                <div class="w-100">
                    <h1 class="text-white text-center py-3 fw-bold">
                        الأنظمة الغذائية
                    </h1>
                    <div class="p-0 g-0 row col-lg-10 justify-content-center mx-auto form-search">
                        <div class="col-12 my-2 my-lg-0 col-lg-6">
                            <input type="text" name="SearchTearm" class="form-control rounded-end-0" placeholder="الخدمة" />
                        </div>
                        <div class="col-12 my-2 my-lg-0 col-lg-3">
                            <input placeholder="بحث" type="submit" value="بحث" class="form-control rounded-start-0 text-center" style="background-color: #e4dfff" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-lg mt-5 min-vh-100">
    <div class="row p-0 g-0" id="mealPlan">
        @for (int i = 0; i < 9; i++)
        {
            <div class="col-12 placeholder-wave col-md-6 col-lg-4 p-3">
                <div class="card  shadow-sm meal-plan overflow-hidden">
                    <div class="card-header  justify-content-center d-flex justify-content-center bg-transparent">
                        <p class="text-center placeholder  p-0 m-0"># الأنظمة الحديثة</p>
                    </div>

                    <div class="position-relative  placeholder  hoverable-image" style="height: 200px"></div>

                    <div class="card-body">
                        <h5 class="card-title placeholder fw-bold text-black text-end">
                            النظام الغذائي الباليو
                        </h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-subtitle placeholder">
                                يعتمد على تقليل الكربوهيدرات ومنع السكر المصنع والبطاطا
                            </p>
                            <p class="text-danger text-start h3 fw-bold me-3 placeholder">$19.9</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <div>
                                <p class="m-0 placeholder">أسبوع</p>
                            </div>
                            <div>
                                <button class="placeholder disabled  d-block btn border-0 text-white " style="background-color: #cb8cef; width:100px;">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-lg mt-3">
    <div class="row p-0 g-0" id="Paging">
        <div class="col p-3 d-flex justify-content-center align-items-center"></div>
    </div>
</div>
@section Scripts{

    <script src="~/jsapi/mealplanapi/mealplanmodel.js" asp-append-version="true"></script>

    <script src="~/jsapi/mealplanapi/mealplanmodelapp.js" asp-append-version="true"></script>

  }
@*
<i class="bi bi-arrow-bar-right"></i>
<i class="bi bi-arrow-bar-left"></i>
<ul class="pagination">
    <li tabindex="0" aria-label="Previous Page" style=""><a class="pagination-icon"><i aria-hidden="true" class="material-icons-outlined">navigate_before</i></a></li>
    <li tabindex="0" aria-label="First Page" style=""><a class="pagination-icon"><i aria-hidden="true" class="material-icons-outlined">first_page</i></a></li>
    <li tabindex="0" class=""><a>1</a></li>
    <li tabindex="0" class=""><a>2</a></li>
    <li tabindex="0" class="active"><span>3</span></li>
    <li tabindex="0" class="" style=""><a>4</a></li>
    <li tabindex="0" class="" style=""><a>5</a></li>
    <li tabindex="0" aria-label="Last Page"><a class="pagination-icon"><i aria-hidden="true" class="material-icons-outlined">last_page</i></a></li>
    <li tabindex="0" aria-label="Next Page"><a class="pagination-icon"><i aria-hidden="true" class="material-icons-outlined">navigate_next</i></a></li>
</ul>*@