@model List<Product>
@if (Model.Count > 0)
{
    <div class="d-flex mb-4  justify-content-center align-items-center">
        <div class="mx-3"
             style="height: 40px; width: 4px; background-color: #b9aff5"></div>
        <h5 class="col-auto mt-3">  @ViewData["ComponentTitle"]</h5>
        <div class="mt-4 mx-4 col" style="height: 2px; width: 50%; background-color: #b9aff5"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="card mb-3 border overflow-hidden bgcol m-2"
             style="border-radius: 20px">
            <div class="row g-0">
                <div class="col-4 p-0">
                    <div class="position-relative w-100 h-100">
                        <img src="@item.ImgUrl" class="shadow w-100 h-100 start-0 top-0 position-absolute p-0 borderimg" style="object-fit: cover" alt="..." />
                    </div>
                </div>
                <div class="col-8">
                    <div class="card-body p-2" style="background: #eeedf5">
                        <h6 class="card-title m-0 p-2" style="font-size:14px !important;">@item.Services?.Title</h6>
                        <p class="card-text text-danger p-2">@item.Services?.Price?.ToString("c")</p>
                    </div>
                </div>
            </div>
        </div>
    }

}