@page "{id}"
@model liaqati_master.Areas.Admin.Pages.HealthyReicpe.DetailsModel
@{
}



<div class="detailsText">
    <div class="ingredients">
        <h2>المكونات :</h2>
        <ul>
            @if (Model.Ingredients is not null)
            {
                foreach (var item in Model.Ingredients)
                {
                    <li>
                        <a><img src="https://rashaqa.net/imgs/layer_2-3x.webp" width="20" /><span> 1 </span> @item.Name </a>
                    </li>
                }
            }



        </ul>
    </div>
    <h2>طريقة التحضير؟</h2>
    <ol>
        @if (Model.PreparationMethod is not null)
        {
            foreach (var item in Model.PreparationMethod)
            {
                <li>@item</li>

            }
        }

    </ol>

</div>