@page
@model liaqati_master.Pages.HealthyReicpe.EditHealthyModel
@{
}
<link href="~/assets/css/Tables.css" rel="stylesheet" />

<style>

    body {
        background-color: #f5f6f1;
    }

    * {
        font-family: "Almarai", sans-serif;
    }

    .ingredient {
        background: #dacdea;
        color: #8763b3;
        border-radius: 20px;
        padding: 3px 15px;
    }

    .ingredients {
        overflow-y: scroll;
    }

</style>

<h4></h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form asp-page-handler="Add" method="post" class="form theme-form">
                        <input asp-for="HealthyRecipes.Id" class="form-control" placeholder="">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Services!.Title"></label>
                                    <input asp-for="HealthyRecipes.Services!.Title" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Services!.Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Services!.Price"></label>
                                    <input asp-for="HealthyRecipes.Services!.Price" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Services!.Price" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Services!.Description"></label>
                                    <input asp-for="HealthyRecipes.Services!.Description" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Services!.Description" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Protein"></label>
                                    <input asp-for="HealthyRecipes.Protein" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Protein" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Calories"></label>
                                    <input asp-for="HealthyRecipes.Calories" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Calories" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Total_Carbohydrate"></label>
                                    <input asp-for="HealthyRecipes.Total_Carbohydrate" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.Total_Carbohydrate" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.PrepTime"></label>
                                    <input asp-for="HealthyRecipes.PrepTime" class="form-control" placeholder="">
                                    <span asp-validation-for="HealthyRecipes.PrepTime" class="text-danger"></span>

                                </div>
                            </div>




                        </div>
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.MealType"></label>
                                    <select asp-for="HealthyRecipes.MealType" class="form-select" asp-items="@Html.GetEnumSelectList<MealTypeTypeStatus>()">
                                        <option disabled value="-1">Please Select MealType</option>
                                    </select>
                                    <span asp-validation-for="HealthyRecipes.MealType" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.DieteryType"></label>
                                    <select asp-for="HealthyRecipes.DieteryType" class="form-select" asp-items="@Html.GetEnumSelectList<DieteryTypeStatus>()">
                                        <option disabled value="-1">Please Select DieteryType</option>
                                    </select>
                                    <span asp-validation-for="HealthyRecipes.DieteryType" class="text-danger"></span>

                                </div>
                            </div>



                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="HealthyRecipes.Services!.Category!.Id"></label>
                                    <select asp-for="HealthyRecipes.Services!.Category!.Id" asp-items="Model.CatogeryName" class="form-select">
                                        <option disabled value="-1">Please Select Catogery Name</option>
                                    </select>
                                    <span asp-validation-for="HealthyRecipes.Services!.Category!.Id" class="text-danger"></span>
                                </div>
                            </div>

                        </div>


                        <div class="row justify-content-center my-5">
                            <div data-v-2eea9796="" class="col-md-12">
                                <div class="field-value">
                                    <div class="form-label d-flex flex-row align-items-center justify-content-between">
                                        <div>المكونات</div>
                                    </div>
                                    <div class="input-group field-value">
                                        <input class="form-control" id="txtPreparationMethod" placeholder="اكتب شيئاً..." />
                                        <button id="BtnAdd" type="button" class="text-nowrap bg-white fw-medium btn btn-outline-primary">
                                            <i class="bi bi-plus h5 fw-bold"></i>
                                        </button>
                                    </div>
                                    <div class="border-top-0 rounded-bottom overflow-hidden border">
                                        <div class="p-2 bg-white d-flex gap-1 flex-wrap justify-content-start align-items-start ingredients"
                                             style="height: 80px"
                                             id="StepsReviewer"></div>
                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-danger d-flex">
                                        <div class="field-area-visible-on-hover ms-auto" id="error"></div>
                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-danger d-flex">
                                        <span asp-validation-for="HealthyRecipes.PreparationMethod" class="text-danger"></span>
                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-muted d-flex">
                                        <div class="field-area-visible-on-hover ms-auto" id="NoofSteps"></div>
                                    </div>
                                </div>
                                <textarea class="form-control" hidden asp-for="HealthyRecipes.PreparationMethod" id="HealthyRecipes_PreparationMethod"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-center my-5">
                            <div data-v-2eea9796="" class="col-md-12">
                                <div class="field-value">
                                    <div class="form-label d-flex flex-row align-items-center justify-content-between">
                                        <div>المكونات</div>
                                    </div>
                                    <div class="input-group field-value">
                                        <input class="form-control"
                                               id="txtIngredientName"
                                               placeholder="اكتب شيئاً..." />
                                        <input class="form-control"
                                               id="txtIngredientQuantity"
                                               placeholder="اكتب شيئاً..." />
                                        <select class="form-control"
                                                id="txtIngredientUnit"
                                                placeholder="اكتب شيئاً...">
                                            <option value="cup">كوب</option>
                                            <option value="spoon">معلقة</option>
                                            <option value="gram">غرام</option>
                                        </select>

                                        <button id="BtnAddIngredients"
                                                type="button"
                                                class="text-nowrap bg-white fw-medium btn btn-outline-primary">
                                            <i class="bi bi-plus h5 fw-bold"></i>
                                        </button>

                                    </div>
                                    <div class="rounded-bottom overflow-hidden ">
                                        <div class="row ">
                                            <div class="col-sm-12">
                                                <div class="card mt-3 p-0 border-raduis">

                                                    <div class="table-responsive table-hover">
                                                        <table class="table  table-borderless" id="Tbl">
                                                            <thead>
                                                                <tr>

                                                                    <th scope="col" width="180">المكون</th>
                                                                    <th scope="col" width="180">الكمية</th>
                                                                    <th scope="col" width="180">وحدة القياس</th>
                                                                    <th scope="col" width="180"></th>


                                                                </tr>
                                                            </thead>
                                                            <tbody id="ingredients_container">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-danger d-flex">
                                        <span asp-validation-for="HealthyRecipes.Ingredients" class="text-danger"></span>
                                    </div>
                                    <div class="small fw-bold text-end mt-1 text-muted d-flex">
                                        <div class="field-area-visible-on-hover ms-auto"
                                             id="NoFoIngredients"></div>

                                    </div>
                                </div>
                                <textarea class="form-control"
                                          id="txtAreaIngredients" hidden asp-for="HealthyRecipes.Ingredients"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <button class="mx-auto col-auto btn btn-primary" type="submit"> Save </button>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="~/JavaScript/HealthyRecipecs.js"></script>

}
