@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />

@section Styles{
    <style>
        @@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

        * {
            font-family: "Almarai", sans-serif;
        }

        .FormForgot {
            background-color: #fbfbfd;
            border-radius: 20px;
        }

        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 0.5px;
            background: #000000;
        }

        .login-group {
            height: 45px;
        }

            .login-group input {
                border: 1px solid #70707050;
                padding-left: 35px !important;
            }

                .login-group input:focus {
                    border: 2px solid #be8adc !important;
                    outline: none !important;
                }

            .login-group span {
                width: 35px !important;
            }

        .cursor-pointer {
            cursor: pointer;
        }

        .shape-bg {
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
        }

        @@media screen and (min-width: 998px) {
            .shape-bg {
                background-size: 80%;
            }

            .bgs {
                background-image: url("/Images//106.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    </style>
}

<div class="container-fluid p-0 g-0 m-0 bgs">
    <div class="container-lg">
        <div class="row min-vh-100 p-0 g-0">
            <div class="col d-none d-lg-block"></div>

            <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center min-vh-100 shape-bg">
                <form class="p-lg-5 w-100  p-3 FormForgot" method="post">

                    <h5 class="text-center fw-bold my-5 my-lg-0">  كلمة المرور الجديدة </h5>

                    <div class="p-lg-3 w-100">
                        <div class="mb-4 ">
                            <div class="login-group rounded-pill shadow position-relative">
                                <span class="position-absolute end-0 top-0 h-100 d-flex justify-content-center align-items-center text-secondary h5">
                                   
                                </span>
                                <input class="w-100 p-3 rounded-pill h-100" asp-for="model.CurrentPassword" placeholder="كلمة المرور الحالية ">
                            </div>
                            <span class="text-danger" asp-validation-for="model.CurrentPassword"> </span>
                        </div>
                       
                        <div class="mb-4 ">
                            <div class="login-group rounded-pill shadow position-relative">
                                <span class="position-absolute end-0 top-0 h-100 d-flex justify-content-center align-items-center text-secondary h5">
                                   
                                </span>
                                <input class="w-100 p-3 rounded-pill h-100" asp-for="model.Password" placeholder="كلمة المرور الجديدة">
                            </div>
                            <span class="text-danger" asp-validation-for="model.Password"> </span>
                        </div>
                       
                        
                        
                        
                        <div class="mb-4 ">
                            <div class="login-group rounded-pill shadow position-relative">
                                <span class="position-absolute end-0 top-0 h-100 d-flex justify-content-center align-items-center text-secondary h5">
                                   
                                </span>
                                <input class="w-100 p-3 rounded-pill h-100" asp-for="model.ConfirmPassword" placeholder="تأكيد كلمة المرور">
                            </div>
                            <span class="text-danger" asp-validation-for="model.ConfirmPassword"> </span>
                        </div>

                        <div class="login-group rounded-pill position-relative">
                            <span class="position-absolute end-0 top-0 h-100 d-flex justify-content-center align-items-center text-white small">
                                <i class="bi bi-chevron-left text-white"></i>
                            </span>
                            <input type="submit" value="دخول" title="Submit" class="w-100 shadow rounded-pill text-white border-0 h-100" style="background-color: #be8adc" />
                        </div>

                        <p class="small m-0 text-decoration-none text-secondary fw-bold p-2">
                            ليس لديك حساب؟
                            <a href="#"
                               class="text-decoration-none text-dark cursor-pointer">
                                <span class="fw-bold"> مستخدم جديد</span>
                            </a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="col d-none d-lg-block"></div>
        </div>
    </div>
</div>
























@*
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>
*@

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}