<div class="card rounded-0 shadow-sm">
    <div class="position-relative placeholder overflow-hidden image-box" style="height:300px"></div>
    <div class="card-body p-0">
        <div class="d-flex justify-content-between align-items-center  p-2 title-box">
            <h6 class="card-title text-black fw-bold placeholder w-50  m-0">
            </h6>
        </div>
        <div class="d-flex  justify-content-between g-0  p-2">
            <div class="d-flex  w-25 d-flex placeholder"></div>
            <div class="d-flex  w-25 d-flex placeholder"></div>
            <div class="d-flex  w-25 d-flex placeholder"></div>
        </div>
    </div>
</div>