@page
@model liaqati_master.Pages.HealthyRecipes.IndexModel
@{
}
@section Styles{
    <style>
        @@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

        * {
            font-family: "Almarai", sans-serif;
        }

        .btn-main {
            background-color: #BE8ADC !important;
        }

        .image-box img {
            transition: .3s;
        }

        .image-box:hover img {
            transform: scale(1.05) rotate(2deg);
        }

        .title-box {
            border-bottom: 1px solid #cfcfcf;
        }

        @@media screen and (min-width:1200px) {

            .container-90 {
                width: 90%;
                margin: 0 auto;
            }
        }
    </style>



}

<div class="position-relative w-100  overflow-hidden" style="background-size:cover; height: 70vh;background-image: linear-gradient(#00000060, #00000060),url('/images/pexels-ella-olsson-1640773 (2).jpg')">
    <div class="h-100">
        <div class="container-fluid h-100 p-0 position-absolute start-0 top-0 ">
            <div class="container-xl h-100  d-flex flex-column justify-content-center align-items-center " style="padding-top:120px !important">
                <div class="w-100">
                    <h1 class="text-white text-center py-3 fw-bold">
                        الأنظمة الغذائية
                    </h1>
                    <div class="p-0 g-0 row col-lg-10 justify-content-center mx-auto form-search">
                        <div class="col-12 my-2 my-lg-0 col-lg-6">
                            <input type="text" name="SearchTearm" class="form-control rounded-end-0" placeholder="الخدمة" />
                        </div>
                        <div class="col-12 my-2 my-lg-0 col-lg-3">
                            <input placeholder="بحث" type="submit" value="بحث" class="form-control rounded-start-0 text-center" style="background-color: #e4dfff" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class=" container-90 mt-5 min-vh-100">

    @await Component.InvokeAsync("MostViewedHealthyRecipes")

    <div class="row mt-5  justify-content-start align-items-start p-0 g-0">
        <div class="row d-flex col-12 col-xl-3 p-0 g-0">

            @await Component.InvokeAsync("GenericComponentHealthyRecipes",0)
            @await Component.InvokeAsync("GenericComponentHealthyRecipes",1)
            @await Component.InvokeAsync("GenericComponentHealthyRecipes",2)

        </div>
        <div class=" col-12 col-xl-9 ">
            <div class="d-flex justify-content-between align-items-center px-3">
                <div class="d-flex align-items-center">
                    <div style="width:5px;background-color:#be8adc;height:40px;"></div>
                    <h4 class="fw-bold m-0 m-2 ">جميع الوصفات</h4>
                </div>
                <div>
                    <i class="bi bi-arrow-left h4"></i>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 p-0 g-0" id="HealthyRecipeContainer">
                @for (int i = 0; i < 9; i++)
                {
                    <partial name="_HealthyRecipeSkeletonCard.cshtml" />
                }
            </div>

        </div>
    </div>
</div>






<div class="container-lg mt-3">
    <div class="row p-0 g-0" id="Paging">
        <div class="col p-3 d-flex justify-content-center align-items-center"></div>
    </div>
</div>
@section Scripts{
    <script src="~/jsapi/Pagination.js" asp-append-version="true"></script>
    <script src="~/jsapi/healthyrecipeapi/healthyrecipemodel.js" asp-append-version="true"></script>
    <script src="~/jsapi/healthyrecipeapi/HealthyRecipeModelApp.js" asp-append-version="true"></script>

  }
