@page
@model liaqati_master.Pages.Products.CreateProductModel
@{
    ViewData["Title"] = "إضافة إنجاز";
    ViewData["LinkName"] = "Categories";

}
@section Styles{
    <style>
        .delete-btn {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            top: -12px;
            right: -12px;
        }
    </style>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="pb-3">@ViewData["Title"]</h3>
                    <form method="post" class="form theme-form" enctype="multipart/form-data">
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="Products.Services!.Title"></label>
                                    <input asp-for="Products.Services!.Title" class="form-control" placeholder="">
                                    <span asp-validation-for="Products.Services!.Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="Products.Services!.Price"></label>
                                    <input asp-for="Products.Services!.Price" class="form-control" placeholder="">
                                    <span asp-validation-for="Products.Services!.Price" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="Products.Services!.Description"></label>
                                    <textarea asp-for="Products.Services!.Description" class="form-control" placeholder=""></textarea>
                                    <span asp-validation-for="Products.Services!.Description" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label asp-for="Products.Discount"></label>
                                    <input asp-for="Products.Discount" class="form-control" placeholder="">
                                    <span asp-validation-for="Products.Discount" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label asp-for="Products.Services!.Category!.Name"></label>
                                    <select asp-for="Products.Services!.CategoryId" asp-items="Model.CatogeryName" class="form-select">
                                        <option disabled value="-1">Please Select Catogery Name</option>
                                    </select>
                                    <span asp-validation-for="Products.Services!.CategoryId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="Images"></label>
                                    <input asp-for="Images" class="form-control" placeholder="" accept="image/*">
                                    <span asp-validation-for="Images" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <h5>مستعرض الصور</h5>
                                    <div class="images-viewer d-flex  gap-4 flex-wrap p-4 border bg-light w-100" style="min-height:100px;" id="imagesViewer">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row justify-content-end ">
                            <div class="col-sm-4 justify-content-end d-flex">
                                <div class="mb-3">
                                    <button class="btn-primary btn  mx-auto col-auto" type="submit"> حقظ التعديلات <i class="bi bi-plus-square-dotted"></i> </button>
                                    <a class="btn-danger btn  mx-auto col-auto" asp-page="./Index"> الغاء <i class="bi bi-arrow-90deg-down"></i></a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/javascript/uploadfiles.js" asp-append-version="true"></script>
    @*    <script src="~/lib/tinymce/tinymce.min.js"></script>
*@
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/javascript/richtexteditor.js" asp-append-version="true"></script>
}
