@page
@model liaqati_master.Pages.SportProgram.ClenderModel
@{

    Model.ExerId = "10";

    var lstEvent = Json.Serialize(Model.Events);
    <div class="modal fade" id="ShowExer" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLabel"> هلا  </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <span> اسم التمرين: </span>
                                <span id="exertitle">  </span>
                                <input id="inputId" />
                            </div>
                            <script>
                                var x = document.getElementById("inputId").value;
                            </script>
                            <a asp-page="Details" id="Details" asp-route-id="@Model.ExerId">   باقي التفاصيل</a>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <script>

        var eventslst = [];
        var eventslst2 = [];
        var eventslstDay = [];
        eventslst = @lstEvent;






        for (var x = 0; x < eventslst.length; x++) {
            eventslst2.push(eventslst[x]);

        }


        const dates = eventslst2.map(o => o.start);
        eventslstDay = eventslst2.filter(({ start }, index) => !dates.includes(start, index + 1))





        console.log(eventslst);
        console.log(dates);

        var exModel = document.getElementById('eventModal');

        document.addEventListener('DOMContentLoaded', function () {
            //  console.log(eventslst[0].eventId);


            draw(eventslst

              
            )
        });

        function draw(data) {


            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                //    defaultView: 'month',

                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                initialDate: new Date(), //current data //alaa
                navLinks: true, // can click day/week names to navigate views    alaa //view events for each date
                businessHours: true, // display business hours
                editable: true,
                selectable: true,
                locale: 'ar',
                direction: 'rtl',
                buttonText: {
                    today: 'اليوم',
                    month: 'الشهر',
                    week: 'الأسبوع',
                    day: 'اليوم',
                    list: 'لائحة'

                },

                //events: '/Home/GetCalendarEvents',
                eventClick: /*ShowModelEvent*/


                    //Sweet Alert
                    function (info) {
                        

                        window.location.href = "ToDaycshtml?DateDay=" + info.event.startStr + "&id=" + info.event.id + "&startProgram=" + eventslst[0].start;



                        //alert(eventd);
                        info.jsEvent.preventDefault();

                       


                    }


                ,
                selectable: true,
                select: addEventdd,
                events: eventslstDay,



            });

            calendar.render();


        }

        var eventid = document.getElementById('eventId');
        //var exerciseID = document.getElementById('eventModal');
        var title = document.getElementById('EventTitle');
        var startDate = document.getElementById('StartTime');

        function ShowModelEvent(info) {


            let modelElm = document.getElementById('eventModel');
            var myModal = new bootstrap.Modal(modelElm, {
                keyboard: false
            })

            console.log(info.event)
            console.log(info.event.title)
            console.log(info.event.id)
            eventid.textContent = info.event.id;
            //title.textContent = info.event.title;

            //eventid.textContent = "ss";
            //title.textContent = "ssss;

            myModal.toggle()
        }
        /**
         * Calendar Methods
         **/
        function addEventdd(start, end) {
            var selctedDay = [];
            var SporExerId ;
            console.log(start);
            for (let i = 0; i < eventslst2.length; i++) {
                if (eventslst2[i].start == start.startStr) {
                    console.log('==')
                    selctedDay.push(eventslst2[i].id);
                    SporExerId=1;

                }
            }

            window.location.href = "ToDaycshtml?id=" + SporExerId;


            //console.log(event);
            console.log(end);
            console.log(selctedDay);

        }










        function ShowModelExercises(data) {

            let modelElm = document.getElementById("ShowExer");
            let exertitle = document.getElementById("exertitle");
            let inputId = document.getElementById("inputId");


            var Modal = new bootstrap.Modal(modelElm, {
                keyboard: false
            })

            exertitle.textContent = data.title;

            inputId.value = data.id;





            Modal.show();


        }

    </script>
   


}
    <link href="~/css/clender/main.min.css" rel="stylesheet" />


     <div class="container" >
        <div class="row">

            <div id='calendar' style="margin-top:100px;" ></div>

        </div>
    </div>
    <div class="modal fade" id="eventModel" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editLabel"> Event </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="eventForm" class="p-5">
                    <dl class="row">
                        <dt class="col-sm-4">
                            Title
                        </dt>
                        <dd class="col-sm-8">
                            <span class="" id="EventTitle"></span>
                        </dd>
                    </dl>
                    <dl class="row">

                        <dt class="col-sm-4">
                            Event Id
                        </dt>
                        <dd class="col-sm-8">
                            <span class="" id="eventId"></span>
                        </dd>
                    </dl>

                    @*     <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="EventTitle">
                </div>
                </div>*@


                    @* <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Start Time</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="StartTime" >
                </div>
                </div>
                <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">End Time</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="EndTime" >
                </div>
                </div>
                <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                <textarea class="form-control" id="Description" rows="5"></textarea>
                </div>
                </div>*@
                    @*      <div class="form-group row">
                <div class="col-sm-3 offset-sm-9">
                <label><input type="checkbox" id="AllDay" /> All Day</label>
                </div>
                </div>
                <input type="hidden" id="isNewEvent" />*@
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </form>
            </div>
        </div>
    </div>


@section Scripts{
    <script src="~/JavaScript/clender/main.min.js" asp-append-version="true"></script>
 

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                    }