@page
@model liaqati_master.Pages.ProgramPages.ToDaycshtmlModel
@{
}


<div class="container-lg " style="padding-top:100px">
    <div id="rowExercisesIndex" class="row justify-content-center">


        @foreach (var item in Model.Exercises)
        {
            <div id="colClone" class="col-sm-6 col-lg-3 p-4 ">
                <div class="card border-0 h-100">
                    <div class="position-relative">
                        <a asp-route-id="@item.Id" asp-page="Details"> <img id="imgCard" src="@item.Image" style="width:100%;" /> </a>
                        <img width="40" class="position-absolute"
                         style="top: 20px; right: 20px" src="./Images/Exercise/heart-svgrepo-com (1).png"
                         alt=""
                         srcset="" />
                        <img width="70"
                         class="position-absolute"
                         style="bottom: 20px; right: 20px"
                         src="./Images/Exercise/ic_play_circle_outline_24px.png"
                         alt=""
                         srcset="" />
                    </div>

                    <div class="card-body">
                        <p class="card-text  Exercises_duration_Color fw-bold">
                            دقيقة اليوم[Time]-- أسابيع   8 برنامج
                        </p>
                        <h6 class="card-title mb-3"> @item.Title   </h6>
                        <div class="">
                            <div>
                                <img width="20" src="./Images/Exercise/star-svgrepo-com.png" alt="" srcset="" />
                                <img width="20"
                                 src="./Images/Exercise/star-svgrepo-com.png"
                                 alt=""
                                 srcset="" />
                                <img width="20"
                                 src="./Images/Exercise/star-svgrepo-com.png"
                                 alt=""
                                 srcset="" />
                                <img width="20"
                                 src="./Images/Exercise/star-svgrepo-com.png"
                                 alt=""
                                 srcset="" />
                                <img width="20"
                                 src="./Images/Exercise/star-svgrepo-com.png"
                                 alt=""
                                 srcset="" />
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <h4 class="d-inline-block text-danger align-middle">


                                        @if (item.Price == 0)
                                        {
                                            <span>  مجانا</span>
                                        }
                                        else
                                        {
                                            <span>  @item.Price $</span>
                                        }

                                    </h4>
                                </div>
                                <div>
                                    <button class="btn_Exercises_duration col-auto text-white rounded-3 fw-bold d-inline-block border-0 py-1 px-2">
                                        ابدا الان

                                        <img src="Images/Exercise/cart-3-svgrepo-com.png" />

                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        }






    </div>

</div>

