@page
@model liaqati_master.Pages.ProductsPages.IndexModel
@{
}


<link href="~/user/css/tabs.css" rel="stylesheet" />


<div class="cd-tabs pt-5">
    <div class="container-fluid  pt-5">
        <div class="row col-12 justify-content-between">

            <nav class="row col-7 col-lg-4 p-0 m-0">
                <ul class="cd-tabs-navigation justify-content-start">
                    <li><a class="text-decoration-none" onclick="getdata(3)" href="#0">مكملات غذائية</a></li>
                    <li><a class="text-decoration-none" onclick="getdata(4)" href="#0">اجهزة رياضية</a></li>
                    <li><a class="text-decoration-none selected" onclick="getdata(null)" href="#0">الكل</a></li>
                </ul>
            </nav>
            <div class="col-4 col-md-2">
                <select id="lstSort" class="form-select">
                    <option value="-1" selected>ترتيب حسب </option>
                </select>
            </div>

        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="container col-6 col-sm-5  col-md-4 col-lg-3 mt-3">
                                <div class="d-flex mb-4">
                                    <div class="mx-3"
                                         style="height: 40px; width: 4px; background-color: #b9aff5"></div>
                                    <h2 class="col-auto mt-3">أحدث المنتجات</h2>
                                    <div class="mt-4 mx-4 col"
                                         style="height: 2px; width: 50%; background-color: #b9aff5"></div>
                                </div>
                                <div class="card mb-3 boradius bgcol m-2">
                                    <div class="row g-0">
                                        <div class="col-md-4 p-0">
                                            <img src="~/images/Product/rower.jpg" class="img-fluid rounded-start p-0 borderimg h-100" style="object-fit: cover;" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title p-2">حزام تنحبف و تخسيس الجسم</h5>
                                                <p class="card-text p-2"><small class="text-muted redcolor">25$</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container col-6 col-sm-7 col-md-8  col-lg-9">
                                <div class="row m-2 products-container">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/User/js/API/Products/ProductModel.js"></script>
<script src="~/User/js/API/Products/ProductModelApp.js"></script>




