@model List<Article>
<h3 class="mx-5 mt-4 mb-3">الأكثر مشاهدة</h3>
<div class="container-lg px-5 ">
    <div class="row">

        <div class="col-lg-3 col-sm-6 mt-2">
            <!--mx-md-0 mx-sm-2-->
            <div class="card">
                <div class="position-relative">
                    <img src="~/images/atricles/220844.png" class="card-img-top" alt="..." />

                </div>
                <div class="card-body">

                    <p class="card-title text-black-50">رشاقة وتغذية</p>
                    <p class="card-text fw-bold">
                        ما هو رجيم التفاح بالتفاصيل؟.. اختصاصية تغذية تجيب
                    </p>
                    <div class="text-start">
                        <img width="20" src="~/images/atricles/share-button-svgrepo-com.png" />
                        <img width="20" src="~/images/atricles/heart-svgrepo-com (1).png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-2">
            <div class="card">
                <div class="position-relative">
                    <img src="~/images/atricles/41616.png" class="card-img-top" alt="..." />

                </div>
                <div class="card-body">

                    <p class="card-title text-black-50">رشاقة وتغذية</p>
                    <p class="card-text fw-bold">
                        ما هو رجيم التفاح بالتفاصيل؟.. اختصاصية تغذية تجيب
                    </p>
                    <div class="text-start">
                        <img width="20" src="~/images/atricles/share-button-svgrepo-com.png" />
                        <img width="20" src="~/images/atricles/heart-svgrepo-com (1).png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-2">
            <div class="card">
                <div class="position-relative">
                    <img src="~/images/atricles/46303.png" class="card-img-top" alt="..." />

                </div>
                <div class="card-body">

                    <p class="card-title text-black-50">رشاقة وتغذية</p>
                    <p class="card-text fw-bold">
                        ما هو رجيم التفاح بالتفاصيل؟.. اختصاصية تغذية تجيب
                    </p>
                    <div class="text-start">
                        <img width="20" src="~/images/atricles/share-button-svgrepo-com.png" />
                        <img width="20" src="~/images/atricles/heart-svgrepo-com (1).png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-2">
            <div class="card">
                <div class="position-relative">
                    <img src="~/images/atricles/221796.png" class="card-img-top" alt="..." />

                </div>
                <div class="card-body">

                    <p class="card-title text-black-50">رشاقة وتغذية</p>
                    <p class="card-text fw-bold">
                        ما هو رجيم التفاح بالتفاصيل؟.. اختصاصية تغذية تجيب
                    </p>
                    <div class="text-start">
                        <img width="20" src="~/images/atricles/share-button-svgrepo-com.png" />
                        <img width="20" src="~/images/atricles/heart-svgrepo-com (1).png" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>