@model VMMostSoughtProducts
<style>
    .boradius {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .star {
        color: gold !important;
    }

    .card,
    .imgBackground {
        transition: 0.2s;
    }

        .card:hover .imgBackground {
            background: #cdc6f1;
        }

        .card:hover .card-body {
            background: #eeedf5;
        }

        .card:hover {
            box-shadow: 0 0 10px rgb(210, 196, 196);
            transform: translateY(-10px) !important;
        }

    .box-img {
        height: 200px !important;
    }

    .btnRed {
        color: red !important;
    }

    .bg {
        background-image: linear-gradient(#00000060, #00000060), url('/Images/strong-man-training-gym.png');
        height: 70vh;
    }
</style>
@if (Model.ProductsCount > 0)
{
    <div class="container mt-5">
        <div class="row">
            <div class="d-flex p-0 mb-4">
                <div class="mx-3"
                     style="height: 40px; width: 4px; background-color: #b9aff5"></div>
                <h2 class="col-auto mb-3">المنتجات الأكثر طلبا</h2>
                <div class="mt-4 mx-4 col"
                     style="height: 2px; width: 50%; background-color: #b9aff5"></div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex justify-content-between">
                    <div>
                        <!-- <div
                          class="d-inline-block"
                          style="height: 40px; width: 4px; background-color: #b9aff5"
                        ></div> -->
                        <h5 class="d-inline-block">مكملات غذائية</h5>
                    </div>
                    <p class="fw-bold">المزيد...</p>
                </div>
                <div class="row row-cols-lg-2 p-0 g-0 products-row">
                    @if (Model.ProductsOfCategorySupplementation != null)
                    {
                        @for (int i = 0; i < Model.ProductsOfCategorySupplementation.Count; i++)
                        {
                            <partial name="_ProductCard" model="@Model.ProductsOfCategorySupplementation[i]" />
                        }
                    }
                </div>

            </div>
            <div class="col-12  col-lg-6">
                <div class="d-flex justify-content-between">
                    <p class="fw-bold">المزيد ...</p>
                    <h5 class="">اجهزة رياضية</h5>
                </div>
                <div class="row row-cols-lg-2 p-0 g-0 products-row">
                    @if (Model.ProductsOfCategorySportsEquipment != null)
                    {
                        @for (int i = 0; i < Model.ProductsOfCategorySportsEquipment.Count; i++)
                        {
                            <partial name="_ProductCard" model="@Model.ProductsOfCategorySportsEquipment[i]" />
                        }
                    }
                </div>
            </div>
            <div class="d-flex mt-3 p-0">
                <div class="mt-4 mx-4 col"
                     style="height: 2px; width: 50%; background-color: #b9aff5"></div>
                <button style="background-color: #E4DFFF"
                        class="col-auto text-black rounded-4 h4 fw-bold d-inline-block border-0 py-3 px-4">
                    جميع المنتجات
                </button>
            </div>
        </div>
    </div>
}