@page
@model liaqati_master.Areas.Admin.Pages.Articles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>إضافة مقالة</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form theme-form">
                        <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label asp-for="Articles.Title" class="control-label"></label>
                                        <input asp-for="Articles.Title" class="form-control" />
                                        <span asp-validation-for="Articles.Title" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="mb-3">
                                        <label asp-for="Articles.CategoryId" class="control-label"></label>
                                        <select asp-for="Articles.CategoryId" class="form-control" asp-items="@Model.CategoriesSelect">
                                            <option value="-1"></option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label asp-for="Image" class="control-label"></label>
                                        <input asp-for="Image" class="form-control" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label asp-for="Articles.Description" class="control-label"></label>
                                        <textarea asp-for="Articles.Description" class="form-control"></textarea>
                                        <span asp-validation-for="Articles.Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-end">
                                        <a class="btn btn-danger  me-3" asp-page="./index">الغاء</a>
                                        <input type="submit" class="btn btn-primary" value="إضافة" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


          <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="~/javascript/richtexteditor.js" asp-append-version="true"></script>
}
