

.card_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 14px;
    padding: 20px;
    position: relative;
}

    .card .card-container {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
        border-radius: 10px;
        padding: 15px;
        padding-top: 50px;
    }


        .card .card-container ::before, .card .card-container :hover {
            position: absolute;
            content: 'مزيد من التفاصيل...';
            top: -10%;
            padding-left: 3%;
            padding: 1%;
            right: -15%;
            width: stretch;
            background-color: rgba(204,204,255,.4);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            color: black;
        }

.cardimg {
    background-image: url('img/9.png');
    background-repeat: no-repeat;
    width: stretch;
    background-size: cover;
    opacity: .8;
}












