
        * {
            font-family: Almarai;
        }
        .imgHeader {
            background-image: url('~/user/images/consultation/Mask Group 52.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            background-attachment: scroll;
            background-position: center;
        }
        .bgcolor {
            background-color: #ffffff8a;
        }
        .divcolor {
            background-color: #E4DFFF;
        }
        .txtcolor {
            color: #A566C8;
        }
        .colorbg {
            background-color: #b9aff5;
        }
        .colobg {
            background-color: #FF725E;
        }
        .bglight{
            background-color:lightgray;
        }

    
   