.btn:active {
    transform: scale(.9);
}

footer a:hover {
    color: purple !important;
}

.newsletter {
    background-image: url("/user/images/BgInput.png");
}

.newsletter-email {
    width: 100%;
    height: 3.4rem;
    color: #BE8ADC !important;
}

    .newsletter-email::placeholder {
        color: #BE8ADC !important;
    }

    .newsletter-email:focus {
        border-color: #BE8ADC !important;
        border-width: 2px !important;
    }

.btn-participate {
    background-color: #BE8ADC !important;
    width: 7rem;
    height: 3.4rem;
}

footer .nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #808080 !important;
}

    footer .nav-link:hover {
        color: #9D3FD4 !important;
    }

footer {
    background-color: #BE8ADC30;
}

.copy-right {
    border-top: #70707050 solid 1px;
}

@media screen and (max-width: 991.98px) {
    footer .nav-link {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 767.98px) {
    .newsletter-email {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .newsletter-email {
        border-top-right-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
    }

    .btn-participate {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
