/*
.boradius {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}*/

.star {
    color: gold !important;
}

.card,
.imgBackground {
    transition: 0.2s;
}

.product-row .card:hover .imgBackground {
    background: #cdc6f1;
}

.product-row .card:hover .card-body {
    background: #eeedf5;
}

.product-row .card:hover {
    box-shadow: 0 0 10px rgb(210, 196, 196);
    transform: translateY(-10px) !important;
}

.box-img {
    height: 200px !important;
}

.btnRed {
    color: red !important;
}

.bg {
    background-image: linear-gradient(#00000060, #00000060), url('/Images/strong-man-training-gym.png');
    height: 70vh;
}

<style >

@@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

* {
    font-family: "Almarai", sans-serif;
}

.bg-white-with-transparent {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.overlay {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.4);
}

.hoverable-image:hover .overlay {
    opacity: 0;
}

.more-details-btn {
    opacity: 0;
    transition: 0.3s;
}

.hoverable-image:hover .more-details-btn {
    opacity: 1;
}

.meal-plan {
    transition: 0.3s;
}

    .meal-plan:hover {
        border: 1px dashed #cb8cef;
    }

.box-img, .box-img1 {
    height: 200px;
}

    .box-img img {
        transition: 0.5s;
    }

    .box-img:hover img:nth-child(2) {
        opacity: 0;
        /* transform: scale(0); */
    }

    .box-img img:nth-child(1) {
        opacity: 0;
        /* transform: scale(0); */
    }

    .box-img:hover img:nth-child(1) {
        opacity: 1;
        /* transform: scale(1); */
    }

.add-to-bag-btn {
    width: 60px;
    height: 60px;
}

    .add-to-bag-btn.added {
        background: #198754 !important;
        color: white;
    }

.btn-favorite {
    width: 40px;
    height: 40px;
    top: 7px;
    right: 7px;
}

.product-card {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .2s;
}

    .product-card:hover {
        transform: translateY(-10px);
    }

</style >
