

.Exercises_duration_Color
{
    color: #d8d3f9;
}
.btn_Exercises_duration
{
background-color: #E4DFFF;
}
.bgFooter
{
    background-color: #E4DFFF;
}

ul{
list-style-type: none
}
a{
    text-decoration: none !important;
}
.colorLinkFooter{
    color: #707070;
}

