@page
@model liaqati_master.Pages.ProgramPages.DetailsModel
@{
}

<link href="~/css/site.css" rel="stylesheet" />


    <!--section1-->

    <div class="container align-content-center " style="padding-top:200px;">
    
    <video style=" width:100%; height:300px" controls="controls">
        <source src="~/video/exercise/%d9%81%d9%8a%d8%af%d9%8a%d9%88%20%d9%85%d8%b9%d8%a8%d8%b1%20%d8%b9%d9%86%20%d9%82%d8%a8%d9%84%20%d8%a7%d9%84%d8%a7%d9%81%d8%b7%d8%a7%d8%b1%20%d8%a8%d8%b1%d9%85%d8%b6%d8%a7%d9%86__%d8%b1%d8%b3%d9%85%20%d8%af%d9%8a%d8%ac%d8%aa%d8%a7%d9%84_%d8%b1%d9%82%d9%85%d9%8a.mp4" type="video/mp4" />
    </video>

        <div class="row mt-3">
            <div class="col-12 col-md-6">
                <h5>مجموعة سريعة من تمارين القوة  لكامل الجسم</h5>
                <p>تمرين كامل لمدة 30 دقيقة </p>
            </div>
            <div class="col-12 col-md-6 ">
                <button class="btn border-0 float-start" style="background-color: #B9AFF5;">
                    <h5 class="fs-6 text-white float-end">
                        ابدأ الآن
                        <span><i class='bx bx-shopping-bag fs-6  fw-ligh' style='color:#ffffff;'></i></span>
                    </h5>
                </button>
            </div>
        </div>

    </div>


    <!--<div class="container w-75">

        <div class="row">



            <div class=" col-12 col-md-6 col-lg-4">
                <div>
                    <div class="card">
                        <div>
                            <div class="row" style="margin-bottom:-20% !important; opacity:.9">
                                <i class='bx bxs-heart fs-1 position-absolute' style='color:red; top:5%; left:-75%'></i>

                            </div>

                            <div>
                                <img src="img/7.png" style="width:100%; height:5%!important; margin-top:20%" />
                            </div>
                        </div>
                        <div class="card-body" style="height:50% !important;">
                            <p style="color:grey; font-weight:bold; margin-top:-5%; font-size:smaller">برنامج 8 أسابيع -- 30دقيقة /اليوم </p>
                            <h6>برنامج فقدان الدهون للأشخاص</h6>
                            <div class="container ">
                                <div class="row stars " style="margin-bottom:-5%;margin-right:-2rem !important">

                                    <div class="col d-inline-flex">
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                    </div>
                                </div>
                                <div class="row mt-3" style="margin-top: -5%; margin-right: -27% ">
                                    <div class="col-md-6 ">

                                        <a class="btn ">  <h4 class="free me-md-4 me-lg-4" style="color: red; margin-right:-22%">مجانا</h4></a>

                                    </div>
                                    <div class=" col-md-6">
                                        <div class="row">
                                            <a class="btn border-0" style="background-color: #B9AFF5">
                                                <h5 class="fs-6 text-white">
                                                    ابدأ الآن
                                                    <span><i class='bx bx-shopping-bag fs-6  fw-ligh' style='color:#ffffff;'></i></span>
                                                </h5>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class=" col-12 col-md-6 col-lg-4">
                <div>
                    <div class="card">
                        <div>
                            <div class="row" style="margin-bottom:-20% !important; opacity:.9">
                                <i class='bx bxs-heart fs-1 position-absolute' style='color:red; top:5%; left:-75%'></i>

                            </div>

                            <div>
                                <img src="img/7.png" style="width:100%; height:5%!important; margin-top:20%" />
                            </div>
                        </div>
                        <div class="card-body" style="height:50% !important;">
                            <p style="color:grey; font-weight:bold; margin-top:-5%; font-size:smaller">برنامج 8 أسابيع -- 30دقيقة /اليوم </p>
                            <h6>برنامج فقدان الدهون للأشخاص</h6>
                            <div class="container ">
                                <div class="row stars " style="margin-bottom:-5%;margin-right:-2rem !important">

                                    <div class="col d-inline-flex">
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                    </div>
                                </div>
                                <div class="row mt-3" style="margin-top: -5%; margin-right: -27% ">
                                    <div class="col-md-6 ">

                                        <a class="btn ">  <h4 class="free me-md-4 me-lg-4" style="color: red; margin-right:-22%">مجانا</h4></a>

                                    </div>
                                    <div class=" col-md-6">
                                        <div class="row">
                                            <a class="btn border-0" style="background-color: #B9AFF5">
                                                <h5 class="fs-6 text-white">
                                                    ابدأ الآن
                                                    <span><i class='bx bx-shopping-bag fs-6  fw-ligh' style='color:#ffffff;'></i></span>
                                                </h5>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




            <div class=" col-12 col-md-6 col-lg-4">
                <div>
                    <div class="card">
                        <div>
                            <div class="row" style="margin-bottom:-20% !important; opacity:.9">
                                <i class='bx bxs-heart fs-1 position-absolute' style='color:red; top:5%; left:-75%'></i>

                            </div>

                            <div>
                                <img src="img/7.png" style="width:100%; height:5%!important; margin-top:20%" />
                            </div>
                        </div>
                        <div class="card-body" style="height:50% !important;">
                            <p style="color:grey; font-weight:bold; margin-top:-5%; font-size:smaller">برنامج 8 أسابيع -- 30دقيقة /اليوم </p>
                            <h6>برنامج فقدان الدهون للأشخاص</h6>
                            <div class="container ">
                                <div class="row stars " style="margin-bottom:-5%;margin-right:-2rem !important">

                                    <div class="col d-inline-flex">
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                        <i class='bx bxs-star' style='color:#f7ff00'></i>
                                    </div>
                                </div>
                                <div class="row mt-3" style="margin-top: -5%; margin-right: -27% ">
                                    <div class="col-md-6 ">

                                        <a class="btn ">  <h4 class="free me-md-4 me-lg-4" style="color: red; margin-right:-22%">مجانا</h4></a>

                                    </div>
                                    <div class=" col-md-6">
                                        <div class="row">
                                            <a class="btn border-0" style="background-color: #B9AFF5">
                                                <h5 class="fs-6 text-white">
                                                    ابدأ الآن
                                                    <span><i class='bx bx-shopping-bag fs-6  fw-ligh' style='color:#ffffff;'></i></span>
                                                </h5>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




        </div>

    </div>-->
    <!--section2-->
    <div class="container w-50 my-5">
        <div class="row me-auto">
            <div class="col-4 d-inline-flex">
                <i class='bx bx-calendar fs-3' style="background-color: #CEBFE9; padding:2%; border-radius:50%" undefined></i>
                <p class="my-2 mx-2">مدة البرنامج 15 يوم </p>
            </div>
            <div class="col-4 d-inline-flex">
                <i class='bx bx-timer fs-3' style="background-color: #CEBFE9; padding:2%; border-radius:50%" undefined></i>
                <p class="my-2 mx-2">30دقيقة كل يوم </p>
            </div>
            <div class="col-4 d-inline-flex">
                <i class='bx bxs-hot fs-3' style="background-color: #CEBFE9; padding:2%; border-radius:50%" undefined></i>
                <p class="my-2 mx-2">   50-250 سعرة حرارية </p>
            </div>
        </div>
    </div>




    <!--section3-->
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-12 col-md-9">
                <h5>تفاصيل البرنامج</h5>
                <hr style="border-top: 3px solid #CEBFE9; width:15%" />
                <div class="me-5">
                    <div class="d-flex">
                        <h6 class="fs-6 fw-light" style="color:#808080;">نوع التدريب</h6>
                        <h6 class="me-3 fs-6"> تدريب القلب والأوعية الدموية والقوة</h6>
                    </div>
                    <div class="d-flex">
                        <h6 class="fs-6 fw-light" style="color:#808080;">المعدات</h6>
                        <h6 class="me-3 fs-6"> دمبل, حصيرة</h6>
                    </div>
                    <div class="d-flex">
                        <h6 class="fs-6 fw-light" style="color:#808080;">المدرب</h6>
                        <h6 class="me-3 fs-6">احمد صبح </h6>
                    </div>
                </div>

                <p>التحدي  تحقق من يوم (بدون تكرار التدريبات) FB Strong أضف تحدي ال 5 أيام هنا إلى تقويم التمرين حيث يمكنك اعادة الجدولة ووضع علامة مكتمل, تماما مثل أخذ برامجنا إذا كنت تستمتع بهذا الجديد لمدة 4 أسابيع والذي تم اطلاقه للتو يستخدم نفس موضوع التحدي(قوي) ويستخدم تمرينا أضافيا فريدا كل </p>
                <p>التحدي  تحقق من يوم (بدون تكرار التدريبات) FB Strong أضف تحدي ال 5 أيام هنا إلى تقويم التمرين حيث يمكنك اعادة الجدولة ووضع علامة مكتمل, تماما مثل أخذ برامجنا إذا كنت تستمتع بهذا الجديد لمدة 4 أسابيع والذي تم اطلاقه للتو يستخدم نفس موضوع التحدي(قوي) ويستخدم تمرينا أضافيا فريدا كل </p>
                <p>التحدي  تحقق من يوم (بدون تكرار التدريبات) FB Strong أضف تحدي ال 5 أيام هنا إلى تقويم التمرين حيث يمكنك اعادة الجدولة ووضع علامة مكتمل, تماما مثل أخذ برامجنا إذا كنت تستمتع بهذا الجديد لمدة 4 أسابيع والذي تم اطلاقه للتو يستخدم نفس موضوع التحدي(قوي) ويستخدم تمرينا أضافيا فريدا كل </p>

                <div class="row w-auto position-absolute " style=" left:35%">
                    <a class="btn border-0" style="background-color: #B9AFF5">
                        <h5 class="fs-6 text-white">
                            ابدأ الآن
                            <span><i class='bx bx-shopping-bag fs-6  fw-ligh' style='color:#ffffff;'></i></span>
                        </h5>
                    </a>
                </div>

            </div>

            <div class="col-12 col-md-3 py-2" style=" background-color: rgba(204,204,255,.2); ">
                <div>
                    <h6 class="px-3 lh-sm mb-4 pt-2 text-center">احتار واحد من الأنظمة الغذائية المجانية للحصول على أفضل النتائج</h6>

                    <div class="col">
                        <div class="card_container h-100 py-2">

                            <div class="card cardimg" style="width:95%;">
                                <div class="card-container">
                                    <a class="btn border-0 float-start" href="HtmlPage4.html" style="background-color: rgba(204,204,255,.8); margin-bottom:-10%;">ابدأ الآن </a>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col">
                        <div class="card_container h-100 py-2" ">

                            <div class="card cardimg" style="width:95%;">
                                <div class="card-container">
                                    <a href="HtmlPage2.html" data-label="مزيد من التفاصيل ..."></a>
                                    <a class="btn border-0 float-start" href="HtmlPage4.html" style="background-color: rgba(204,204,255,.8); margin-bottom:-10%;">ابدأ الآن </a>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col">
                        <div class="card_container h-100 py-2">

                            <div class="card cardimg" style="width:95%;">
                                <div class="card-container">
                                    <a href="HtmlPage2.html" data-label="مزيد من التفاصيل ..."></a>
                                    <a class="btn border-0 float-start" href="HtmlPage4.html" style="background-color: rgba(204,204,255,.8); margin-bottom:-10%;">ابدأ الآن </a>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>


        </div>

    </div>
















    @section Scripts{


<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

}