@page
@model liaqati_master.Areas.Admin.Pages.Replyconsultations.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Replyconsultations</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form theme-form">
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Replyconsultations.Id" hidden class="form-control" />

                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label asp-for="Replyconsultations.Reply" class="control-label"></label>
                                        <input asp-for="Replyconsultations.Reply" class="form-control" />
                                        <span asp-validation-for="Replyconsultations.Reply" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-end"><input type="submit" class="btn btn-secondary me-3" value="Add" /><a class="btn btn-danger" href="#">Cancel</a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/javascript/richtexteditor.js" asp-append-version="true"></script>
}
