@*@page "/"*@
@page "/"
@model liaqati_master.Pages.Home.IndexModel
@{
}
@section Styles{
    <link rel="stylesheet" href="~/User/css/PieChart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/aos/aos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/counter/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="~/user/css/style.css" rel="stylesheet" asp-append-version="true" />
    <style>
        * {
            font-family: Almarai;
        }

        .pcolor {
            color: #B9AFF5;
        }

        /* .swiper {
                                                                                                    width: 80% !important;
                                                                                                    height: 90% !important;

                                                                                                }*/

        .swiper-slide {
            width: 450px !important;
            height: 70% !important;
        }
    </style>

}

<div class="position-relative w-100 min-vh-100 overflow-hidden ">
    <video autoplay muted loop id="myVideo" class="d-none d-xl-block">
        <source src="~/user/video/1.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
    </video>
    <div class="content">
        <div class="container-fluid p-0 min-vh-100 position-absolute start-0 top-0 header">
            <div class="container-xl min-vh-100 d-flex flex-column justify-content-end align-items-center"
                 style="padding-top: 120px !important">
                <div class="w-100">
                    <h1 class="text-white text-center py-3 fw-bold">
                        لياقتي لحياة أفضل وجسم صحي سليم
                    </h1>
                    <form action=""
                          method="get"
                          class="p-0 g-0 row col-lg-10 mx-auto form-search">
                        <div class="col-12 my-2 my-lg-0 col-lg-6">
                            <input type="text"
                                   class="form-control rounded-end-0"
                                   name="te"
                                   placeholder="الخدمة" />
                        </div>
                        <div class="col-12 my-2 my-lg-0 col-lg-3">
                            <select title="Select Type Of Service"
                                    id="MySelect"
                                    name="select"
                                    class="wide rounded-0" style="display:none;">
                                <option value="نوع الخدمة">نوع الخدمة</option>
                                <option value="1نوع الخدمة">1نوع الخدمة</option>
                                <option value="2نوع الخدمة">نوع الخدمة1</option>
                                <option value="3نوع الخدمة">نوع الخدمة1</option>
                            </select>
                        </div>
                        <div class="col-12 my-2 my-lg-0 col-lg-3">
                            <button placeholder="بحث"
                                    type="submit"
                                    class="btn rounded-start-0 w-100 text-center btn-main"
                                    style="height:50px">
                                بحث
                            </button>
                        </div>
                    </form>
                    <div>
                        <div class=""></div>
                        <h1 class="text-white text-center py-3 fw-bold">خدمات لياقتي</h1>
                    </div>
                    <div class="row pb-5 row-cols-1 row-cols-md-2 row-cols-xl-3 g-0 p-0 justify-content-center">
                        <div class="col p-3 ps-lg-0">
                            <div class="p-3 h-100 bg-white">
                                <div class="row align-items-center row-cols-2">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <img src="~/user/images/ourServices/3.png"
                                             class="img-fluid"
                                             alt="" />
                                    </div>
                                    <div class="col">
                                        <h3>وصفات غذائية</h3>
                                        <p>
                                            وصفات متنوعة تساعدك على اتنباع النظام الغذائي الذي تحب
                                            دون حرمان
                                        </p>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-main">اذهب الان</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col p-3">
                            <div class="p-3 h-100 bg-white">
                                <div class="row align-items-center row-cols-2">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <img src="~/user/images/ourServices/2.png"
                                             class="img-fluid"
                                             alt="" />
                                    </div>
                                    <div class="col">
                                        <h3>أنظمة غذائية</h3>
                                        <p>
                                            أنظمة غذائية صحية تساعدك على اتباع نظام غذائي مناسب
                                            لجسمك
                                        </p>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-main">اذهب الان</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col p-3 pe-lg-0">
                            <div class="p-3 h-100 bg-white">
                                <div class="row align-items-center row-cols-2">
                                    <div class="col d-flex justify-content-center align-items-center">
                                        <img src="~/user/images/ourServices/1.png"
                                             class="img-fluid"
                                             alt="" />
                                    </div>
                                    <div class="col">
                                        <h3>تمارين رياضية</h3>
                                        <p>
                                            تمارين رياضية تساعدك على الحصول على جسم رشيق وصحة جيدة
                                        </p>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-main">اذهب الان</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("LiaqatiStatistic")
@await Component.InvokeAsync("LastestMealPlans")
@await Component.InvokeAsync("HealthyRecipes")
@await Component.InvokeAsync("Exercises")
<div class="container-lg mt-3">

    @await Component.InvokeAsync("LastestArticles")
</div>
@*@await Component.InvokeAsync("Trainers")
*@
@await Component.InvokeAsync("MostSoughtProducts")
<div class="swiper mySwiper my-3 py-5">
    <div class="swiper-wrapper">
        @foreach (var item in Model.SportProgram)
        {
            <div class="swiper-slide">
                <div class="card border-0 p-0 shadow rounded-top m-0" style="border-radius:15px 0  15px 0;">
                    <div class="position-relative m-0 p-0">
                        <img height="300" src="@item.Image" style="object-fit:fill ; border-radius:15px 0  15px 0;"
                             class="card-img-top p-0 m-0 " alt="..." />
                        <img width="30" height="30" class="position-absolute  " style="top: 30px; right: 10px"
                             src="~/user/images/exercises/heart-svgrepo-com (1).png" alt="" srcset="" />

                    </div>

                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                @for (int i = 0; i <= item.Services?.RatePercentage / 20; i++)
                                {
                                    <img class="m-0 p-0" width="20" height="20" src="~/user/images/exercises/star-svgrepo-com.png" />
                                }
                            </div>
                            <div>
                                <h5 class="d-inline-block text-danger align-middle ms-1">
                                    @item.Services?.Price?.ToString("c")
                                </h5>
                            </div>
                        </div>
                        <p class="card-text pcolor">
                            برنامج لمدة
                            <span> @item.Length</span>
                            اسابيع
                        </p>
                        <div class=" p-0  d-flex justify-content-between">

                            <p class="card-title ">
                                @item.Services?.Title
                            </p>

                            <a class="btn px-2 py-1  text-white rounded shadow" style="background-color: #B9AFF5;">
                                ابدأ الآن
                                <img class="me-1" height="20" src="~/user/images/exercises/mask group 56.png" />
                            </a>
                        </div>
                    </div>




                </div>
            </div>

        }
    </div>
</div>


@section Scripts{
    @*    <script defer src="~/User/js/SwiperSliders.js" asp-append-version="true"></script>
*@    <script defer src="~/lib/aos/aos.js" asp-append-version="true"></script>
    <script defer src="~/lib/purecounter/purecounter_vanilla.js" asp-append-version="true"></script>
    <script defer src="~/css/js/counter/main.js" asp-append-version="true"></script>
    <script src="~/User/js/Index.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            loop: true,
            effect: "coverflow",
            slidesPerView: "auto",
            grabCursor: true,
            //centeredSlides: true,
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 200,
                modifier: 1,
                slideShadows: true,
            },

        });
    </script>
}