@page
@model liaqati_master.Pages.Exercises.IndexModel
@{
}
<style>
    body {
        background-color: #F7F7F7;
    }

    .btn_Exercises_duration {
        background-color: #b9aff5;
    }

    .Exercises_duration_Color {
        color: #d8d3f9;
    }

    .pointer {
        cursor: pointer;
    }

    hr {
        color: #d3d3d3;
    }
</style>

<p class="fs-6 p-4">
    الرئيسية
    <img src="Images/Exercise/Exercise/ic_expand_more_24px.png" />
    خدمات
    <img src="Images/Exercise/ic_expand_more_24px.png" />
    تمارين رياضية
</p>
<div class="w-100 btn p-0 m-3 ms-4" id="filtterCanves" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    <img class="me-4" src="Images/Exercise/filter.png" width="35" />
</div>

<div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">ترتيب حسب</h5>
        <div type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></div>
    </div>
    <div class="offcanvas-body">
        <div class="dropdown">
            <div class="pointer">
                <p>
                    <div data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        <div class="d-flex justify-content-between px-4">
                            <div> <h6> الدفع </h6></div>
                            <div> <img src="Images/Exercise/ic_expand_more_24px.png" /></div>
                        </div>
                    </div>
                </p>
                <div class="collapse" id="collapse1">
                    <div class=" px-5">
                        <!--card card-body-->
                        <div>
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                مجاني
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                مدفوع
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <div class="pointer">

                <div class="mt-4" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <div class="d-flex justify-content-between px-4">
                        <div> <h6>تركيز الجسم</h6></div>
                        <div> <img src="Images/Exercise/ic_expand_more_24px.png" /></div>
                    </div>
                </div>

                <div class="collapse" id="collapse2">
                    <div class=" px-5">
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                العلوي
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                الوسط
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                السفلي
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                الكلي
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <div class="pointer">

                <div class="mt-4" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <div class="d-flex justify-content-between px-4">
                        <div> <h6> نوع اتدريب </h6></div>
                        <div> <img src="Images/Exercise/ic_expand_more_24px.png" /></div>
                    </div>
                </div>

                <div class="collapse" id="collapse3">
                    <div class=" px-5">
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                لباقة
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                كارديو
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                قوة
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                حماية
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="pointer">

                <div class="mt-4" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <div class="d-flex justify-content-between px-4">
                        <div>  <h6> ايام\اسبوع </h6></div>
                        <div> <img src="Images/Exercise/ic_expand_more_24px.png" /></div>
                    </div>
                </div>

                <div class="collapse" id="collapse4">
                    <div class=" px-5">
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                ايام 2
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                ايام 3
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                ايام 4
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                ايام 5
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="pointer">

                <div class="mt-4" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <div class="d-flex justify-content-between px-4">
                        <div>   <h6> مدة البرنامج </h6></div>
                        <div> <img src="Images/Exercise/ic_expand_more_24px.png" /></div>
                    </div>
                </div>

                <div class="collapse" id="collapse5">
                    <div class=" px-5">

                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                اسبوع 1
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                اسبوع 2
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                اسبوع 4
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                ايام 8
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="pointer">

                <div class="mt-4" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <div class="d-flex justify-content-between px-4">
                        <div>  <h6> الصعوبة </h6> </div>
                        <div> <img src="Images/Exercise/ic_expand_more_24px.png" /></div>
                    </div>
                </div>

                <div class="collapse" id="collapse5">
                    <div class=" px-5">
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                1
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                2
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                3
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                4
                            </label>
                        </div>
                        <div class="">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                5
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white" id="divFilter">
    <!--d-md-block d-sm-none-->
    <div class="row p-5">
        <div class="col-2">
            <h6> الدفع </h6>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    مجاني
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    مدفوع
                </label>
            </div>
        </div>
        <div class="col-2">
            <h6> تركيز الجسم </h6>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    العلوي
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    الوسط
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    السفلي
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    الكلي
                </label>
            </div>
        </div>
        <div class="col-2">
            <h6> نوع اتدريب </h6>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    لباقة
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    كارديو
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    قوة
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    حماية
                </label>
            </div>
        </div>
        <div class="col-2">
            <h6> ايام\اسبوع </h6>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    ايام 2
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    ايام 3
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    ايام 4
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    ايام 5
                </label>
            </div>
        </div>
        <div class="col-2">
            <h6> مدة البرنامج </h6>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    اسبوع 1
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    اسبوع 2
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    اسبوع 4
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    ايام 8
                </label>
            </div>
        </div>
        <div class="col-2">
            <h6> الصعوبة </h6>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    1
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    2
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    3
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    4
                </label>
            </div>
            <div class="">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">
                    5
                </label>
            </div>
        </div>
    </div>
</div>

<div class="container-lg ">
    <div id="rowExercisesIndex" class="row justify-content-center">

      
          @foreach (var item in Model.Exercises)
        {
            <div id="colClone" class="col-sm-6 col-lg-3 p-4 ">
                <div class="card border-0 h-100">
                    <div class="position-relative">
                        <img id="imgCard" src="@item.Image" style="width:100%;" />
                        <img width="40" class="position-absolute"
                         style="top: 20px; right: 20px" src="./Images/Exercise/heart-svgrepo-com (1).png"
                         alt=""
                         srcset="" />
                        <img width="70"
                         class="position-absolute"
                         style="bottom: 20px; right: 20px"
                         src="./Images/Exercise/ic_play_circle_outline_24px.png"
                         alt=""
                         srcset="" />
                    </div>

                    <div class="card-body">
                        <p class="card-text  Exercises_duration_Color fw-bold">
                            دقيقة اليوم[Time]-- أسابيع   8 برنامج
                        </p>
                        <h6 class="card-title mb-3"> @item.Title   </h6>
                        <div class="">
                            <div>
                                <img width="20" src="./Images/Exercise/star-svgrepo-com.png" alt="" srcset="" />
                                <img width="20"
                                 src="./Images/Exercise/star-svgrepo-com.png"
                                 alt=""
                                 srcset="" />
                                <img width="20"
                                 src="./Images/Exercise/star-svgrepo-com.png"
                                 alt=""
                                 srcset="" />
                                <img width="20"
                                 src="./Images/Exercise/star-svgrepo-com.png"
                                 alt=""
                                 srcset="" />
                                <img width="20"
                                 src="./Images/Exercise/star-svgrepo-com.png"
                                 alt=""
                                 srcset="" />
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div>
                                    <h4 class="d-inline-block text-danger align-middle">


                                        @if (item.Price == 0) { <span>  مجانا</span>
                                        }
                                        else
                                        {
                                            <span>  @item.Price $</span>
                                        }

                                </h4>
                            </div>
                            <div>
                                <button class="btn_Exercises_duration col-auto text-white rounded-3 fw-bold d-inline-block border-0 py-1 px-2">
                                    ابدا الان

                                    <img src="Images/Exercise/cart-3-svgrepo-com.png" />

                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
       


        }

        
        
        
      
    
    </div>

</div>


    @section Scripts{

             <script>
            let divFilter = document.getElementById("divFilter");
            let filtterCanves = document.getElementById("filtterCanves");
            if (screen.width <= 768.5) {
                divFilter.classList.add("d-none");
                filtterCanves.classList.add("d-block");
              //  alert(`Ok ${screen.width}`)
            } else {
                divFilter.classList.add("d-block");
                filtterCanves.classList.add("d-none");
                console.log(divFilter);
                console.log(filtterCanves);

               // filtterCanves.classList.add("d-none");
            }
        </script>
    }