@model Consultation

<div class="card  my-2">
    <div class="card-body">
        <div class="d-flex">
            <p class="mx-2">@Model.Category?.Name</p>
        </div>
        <h6 class="card-title">@Model.Title</h6>
    </div>
</div>
