@page
@model liaqati_master.Areas.Admin.Pages.Exercises.EditExerciseModel
@{
}

<h4>Meal Plane</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form enctype="multipart/form-data" asp-page-handler="Add" method="post" class="form theme-form">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input hidden asp-for="Exercise.Id" class="form-control" placeholder="">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="Exercise.Title"></label>
                                    <input asp-for="Exercise.Title" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="Exercise.TraningType"></label>
                                    <input asp-for="Exercise.TraningType" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="Exercise.Detail"></label>
                                    <input asp-for="Exercise.Detail" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="Exercise.Price"></label>
                                    <input asp-for="Exercise.Price" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="Exercise.Duration"></label>
                                    <input asp-for="Exercise.Duration" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="Exercise.Equipments"></label>
                                    <input asp-for="Exercise.Equipments" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="Exercise.Difficulty"></label>
                                    <input asp-for="Exercise.Difficulty" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="Image"></label>
                                    <input asp-for="Image" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="Video"></label>
                                    <input asp-for="Video" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <button class="mx-auto col-auto" type="submit"> Save </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @*    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
*@
}
