@page
@model liaqati_master.Pages.Consultation.IndexModel
@{
}

<link href="~/user/css/consulting.css" rel="stylesheet" />

<div class="container-fluid imgHeader position-relative">
    <div class="row bgcolor">
        <div class="p-5">
            <h1 class="text-white fw-bolder text-center p-5">الاستشارات </h1>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div>
            <p class="fs-6 p-4">
                الرئيسية
                <img src="~/user/images/consultation/ic_expand_more_24px.png" />
                الاستشارات
            </p>
        </div>



        <div class=" container-90 mt-5">

            <div class="row p-0 g-0  form-search">
                <div class="col-12 m-2 my-lg-0 col-md-3 col-lg-2">
                    <label type="text" id="name" name="name" class=" rounded-end-0">ترتيب الاستشارات حسب</label>
                </div>
                <div class="col-5 m-2 my-lg-0 col-md-3 col-lg-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>احدث الاستشارات</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                </div>
                <div class="col-5 m-2 my-lg-0 col-md-3 col-lg-2">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>جميع الاستشارات</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                </div>


            </div>

            <div class=" row justify-content-evenly">
                <div class="col-md-7 justify-content-center bglight p-2 my-5">

                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card  my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card  my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--card-->
                    <div class="card  my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card  my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card  my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card  my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--card-->
                    <div class="card  my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card  my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--card-->
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="d-flex">
                                <p>الاسم: محمد</p>
                                <p class="mx-2">العمر:  40</p>
                                <p>فبراير 2023</p>
                            </div>
                            <h5 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h5>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>الاجابة عن الاستشارة</p>
                                    <p class="txtcolor">محترف اللياقة البدنية احمد موسى</p>
                                </div>
                                <div>
                                    <button class="colorbg p-2 border-0 rounded-3 text-white">عرض الاجابة</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p>المزيد من الاسئلة</p>
                        <img height="15" class="m-2" src="~/user/images/consultation/Group 937.png" />
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class=" divcolor p-2">
                        <div class="justify-content-center  my-4 mx-auto p-3" style="background-image: url('~/user/images/consultation/164195.png');">

                            <div class="bgcolor fw-bolder text-center p-3 mt-5 m-2">
                                <h4 class="">
                                    لديك استفسار؟؟
                                </h4>
                                <p>لدينا نخبة من المدربين المختصيين للاجابة عن استفسارات خلال 24 ساعة</p>

                            </div>

                            <div class="d-flex justify-content-center ">
                                <button type="submit" class="text-white  rounded-3 fw-bold  border-0 p-3 mt-5 colobg" style="    background-color: #FF725E;">
                                    <h5> ادخل سؤالك الان</h5>
                                </button>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex">
                                <div class="mx-3 colorbg"
                                     style="height: 40px; width: 6px;"></div>
                                <h4 class="col-auto">الاستشارات الاكثر مشاهدة</h4>
                                <div class="mt-4 colorbg col" style="height: 2px; width: 60%; "></div>
                            </div>
                            <!--card-->
                            <div>
                                <div class="card my-2">

                                    <div class="card-body">
                                        <p>المكملات الغذائية</p>

                                        <h6 class="card-title text-black ">كم نسبة فيتامين دال الطبيعية وما نسبة النقص </h6>

                                        <div class="d-flex">

                                            <img width="50" class="rounded-circle m-2" src="~/user/images/consultation/person.jpg" />

                                            <div class="">
                                                <p class="card-title text-black "> تمت الاجابة عليه بواسطة</p>
                                                <p class="card-title txtcolor">اخصائية التغذية مرام </p>
                                            </div>

                                        </div>

                                    </div>
                                </div> <div class="card my-2">

                                    <div class="card-body">
                                        <p>المكملات الغذائية</p>

                                        <h6 class="card-title text-black ">كم نسبة فيتامين دال الطبيعية وما نسبة النقص </h6>

                                        <div class="d-flex">

                                            <img width="50" class="rounded-circle m-2" src="~/user/images/consultation/person.jpg" />

                                            <div class="">
                                                <p class="card-title text-black "> تمت الاجابة عليه بواسطة</p>
                                                <p class="card-title txtcolor">اخصائية التغذية مرام </p>
                                            </div>


                                        </div>

                                    </div>
                                </div> <div class="card mt-2">

                                    <div class="card-body">
                                        <p>المكملات الغذائية</p>

                                        <h6 class="card-title text-black ">كم نسبة فيتامين دال الطبيعية وما نسبة النقص </h6>

                                        <div class="d-flex">

                                            <img width="50" class="rounded-circle m-2" src="~/user/images/consultation/person.jpg" />

                                            <div class="">
                                                <p class="card-title text-black "> تمت الاجابة عليه بواسطة</p>
                                                <p class="card-title txtcolor">اخصائية التغذية مرام </p>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="d-flex my-4">
                                    <div class="mx-3 colorbg"
                                         style="height: 40px; width: 6px;"></div>
                                    <h4 class="col-auto">احدث الاستشارات </h4>
                                    <div class="mt-4 colorbg col" style="height: 2px; width: 60%; "></div>
                                </div>

                                <div class="card  my-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <p class="mx-2">المكملات الغذائية</p>
                                        </div>
                                        <h6 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h6>
                                    </div>
                                </div>
                                <div class="card  my-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <p class="mx-2">المكملات الغذائية</p>
                                        </div>
                                        <h6 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h6>
                                    </div>
                                </div>
                                <div class="card  my-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <p class="mx-2">المكملات الغذائية</p>
                                        </div>
                                        <h6 class="card-title">ما هو حل لمن يعاني من ضعف في اللياقة البدنية ويجهد بسرعة من التمارين الرياضية</h6>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!--row card-->
<div class="container ">
    <div class="row">
        <div class="row mt-5 justify-content-center ">
            <divs class="col-6 col-md-4 col-lg-3">
                <div class="col-10" style="border-top: 5px solid #B9AFF5; "></div>
                <h3>مقالات قد تفيدك</h3>
            </divs>
        </div>
        <div class="col-lg-3 col-sm-6 mt-2">
            <!--mx-md-0 mx-sm-2-->
            <div class="card">
                <div class="position-relative">
                    <img src="~/user/images/consultation/221796.png" class="card-img-top" alt="..." />

                </div>
                <div class="card-body">

                    <p class="card-title text-black-50">رشاقة وتغذية</p>
                    <p class="card-text fw-bold">
                        ما هو رجيم التفاح بالتفاصيل؟.. اختصاصية تغذية تجيب
                    </p>
                    <div class="text-start">
                        <img width="20" src="~/user/images/consultation/Path 1698.png" />
                        <img width="20" src="~/user/images/consultation/heart-svgrepo-com (1).png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-2">
            <div class="card">
                <div class="position-relative">
                    <img src="~/user/images/consultation/221796.png" class="card-img-top" alt="..." />

                </div>
                <div class="card-body">

                    <p class="card-title text-black-50">رشاقة وتغذية</p>
                    <p class="card-text fw-bold">
                        ما هو رجيم التفاح بالتفاصيل؟.. اختصاصية تغذية تجيب
                    </p>
                    <div class="text-start">
                        <img width="20" src="~/user/images/consultation/Path 1698.png" />
                        <img width="20" src="~/user/images/consultation/heart-svgrepo-com (1).png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-2">
            <div class="card">
                <div class="position-relative">
                    <img src="~/user/images/consultation/46303.png" class="card-img-top" alt="..." />

                </div>
                <div class="card-body">

                    <p class="card-title text-black-50">رشاقة وتغذية</p>
                    <p class="card-text fw-bold">
                        ما هو رجيم التفاح بالتفاصيل؟.. اختصاصية تغذية تجيب
                    </p>
                    <div class="text-start">
                        <img width="20" src="~/user/images/consultation/Path 1698.png" />
                        <img width="20" src="~/user/images/consultation/heart-svgrepo-com (1).png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 mt-2">
            <div class="card">
                <div class="position-relative">
                    <img src="~/user/images/consultation/221796.png" class="card-img-top" alt="..." />

                </div>
                <div class="card-body">

                    <p class="card-title text-black-50">رشاقة وتغذية</p>
                    <p class="card-text fw-bold">
                        ما هو رجيم التفاح بالتفاصيل؟.. اختصاصية تغذية تجيب
                    </p>
                    <div class="text-start">
                        <img width="20" src="~/user/images/consultation/Path 1698.png" />
                        <img width="20" src="~/user/images/consultation/heart-svgrepo-com (1).png" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<section class="container-fluid p-5  text-center mt-5 mb-5" style="background-image: url('~/user/images/consultation/Group 886.png');">

    <div class="row justify-content-center  ">
        <div class="col ">
            <p class="text-center fw-bold">إشترك فى النشرة البريدية ليصلك كل جديد</p>
            <div class="p-0 g-0 row d-flex  justify-content-center ">
                <div class="col-12 col-md-6  my-2 my-md-0 my-lg-0  col-lg-6">
                    <input style=" width:100%; height:3.4rem; color: #B9AFF5;"
                           type="email" class="form-control  shadow  inputborderAll" placeholder="البريد الالكتروني" />
                </div>

                <button class="btn text-white col-12 col-md-6"
                        style="background-color: #B9AFF5; width:7rem; height:3.4rem;">
                    اشترك الآن
                </button>

            </div>
        </div>


    </div>


</section>
