@page
@model liaqati_master.Pages.MealPlan.EditModel
@{
    ViewData["Title"] = "إضافة إنجاز";
    ViewData["LinkName"] = "Categories";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="pb-3">@ViewData["Title"]</h3>

                    <form asp-page-handler="Add" method="post" class="form theme-form">
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="MealPlans.Services!.Title"></label>
                                    <input asp-for="MealPlans.Services!.Title" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlans.Services!.Title" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label asp-for="MealPlans.Services!.Price"></label>
                                    <input asp-for="MealPlans.Services!.Price" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlans.Services!.Price" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-3">
                                    <label asp-for="MealPlans.Services!.Description"></label>
                                    <textarea asp-for="MealPlans.Services!.Description" class="form-control rich-editor" placeholder=""></textarea>
                                    <span asp-validation-for="MealPlans.Services!.Description" class="text-danger"></span>

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlans.MealType"></label>
                                    <input asp-for="MealPlans.MealType" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlans.MealType" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlans.DietaryType"></label>
                                    <input asp-for="MealPlans.DietaryType" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlans.DietaryType" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlans.Length"></label>
                                    <input asp-for="MealPlans.Length" class="form-control" placeholder="">
                                    <span asp-validation-for="MealPlans.Length" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlans.AvgRecipeTime"></label>
                                    <input asp-for="MealPlans.AvgRecipeTime" class="form-control" placeholder="">

                                    <span asp-validation-for="MealPlans.AvgRecipeTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label asp-for="MealPlans.Services!.Category!.Name"></label>
                                    <select asp-for="MealPlans.Services!.CategoryId" asp-items="Model.CatogeryName">
                                        <option disabled value="-1">Please Select Catogery Name</option>

                                    </select>
                                    <span asp-validation-for=" MealPlans.Services!.CategoryId" class="text-danger"></span>

                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-end ">
                            <div class="col-sm-4 justify-content-end d-flex">
                                <div class="mb-3">
                                    <button class="btn-primary btn  mx-auto col-auto" type="submit"> حقظ التعديلات <i class="bi bi-plus-square-dotted"></i> </button>
                                    <a class="btn-danger btn  mx-auto col-auto" asp-page="./Index"> الغاء <i class="bi bi-arrow-90deg-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/javascript/richtexteditor.js" asp-append-version="true"></script>
}
