
<div class="d-none manage__data position-fixed    rounded-pill">
    <div class="h-100 p-20 d-flex gap-2 justify-content-between align-content-center align-items-center">
        <div class=" d-flex gap-2 justify-content-between align-content-center align-items-center">
            <span class=" badge rounded-pill bg-danger " id="noOfSelectedItem">0</span>
            <p class="text-white p-0 m-0 d-none  d-lg-inline">العناصر المحددة</p>
        </div>
        <button class="btn btn-pill p-2 px-lg-3 d-flex justify-content-center align-items-center  py-lg-2 text-white"
                style="background:#3c3b4a;" type="button">
            تعديل
            <i class="bi bi-pencil-square me-lg-2"></i>
        </button>
        <button class="btn btn-pill p-2 px-lg-3 d-flex justify-content-center align-items-center  py-lg-2 btn-danger"
                id="BtnDelete" data-name="مستخدم" type="button">
            حذف
            <i class="bi bi-trash  me-lg-2"></i>
        </button>
        <button class="btn btn-pill p-2 px-lg-3 d-flex justify-content-center align-items-center  py-lg-2 btn-danger"
                type="button" id="BtnCancelSelection">
            إلغاء
            <span class="d-none  d-lg-inline fw-bold"> تحديد </span><i class="bi bi-x-circle  me-lg-2"></i>
        </button>
    </div>
</div>